<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter">
      <div class="row margin--none">
        <p class="color--grey h3"><?= /* @escapeNotVerified */ __('Shop By') ?></p>
      </div>
      <div class="block-content filter-content">
        <?php if ($block->getLayer()->getState()->getFilters()): ?>
          <div class="block-actions filter-actions">
              <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><p class="color--text-light-grey" style="text-decoration:none;"><?= /* @escapeNotVerified */ __('Clear All') ?></p></a>
          </div>
        <?php endif; ?>
        <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if (!$wrapOptions): ?>
                    <dl class="filter-options" id="narrow-by-list">
                <?php $wrapOptions = true; endif; ?>
                    <?php if ($filter->getItemsCount()): ?>
                        <p class="color--grey float--left full-width h6"><?= $block->escapeHtml(__($filter->getName())) ?></p>
                        <dd class="filter-options-content"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></dd>
                    <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </dl>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
