<?php

if ($block->isConfigProduct()):
	if ($currentProduct = $block->getCurrentProduct()):

		$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
		$currentStore = $storeManager->getStore();
		$baseUrl = $currentStore->getBaseUrl();
		$product = $block->getCurrentProduct();
		$file = $product->getData('select_csv_data');
		$csvData = array_map('str_getcsv', file($_SERVER['DOCUMENT_ROOT'] . '/CSV/'.$file.'.csv'));
		// $csvData = file_get_contents('/CSV/houten-25.csv', 'r');
		// $csvData = explode(PHP_EOL, $csvData);
		foreach ($csvData as $csvRow) {
			$rowData[] = str_getcsv($csvRow[0], ';');
		}

		$maxWidth = end($rowData[0]);
		$Width = $rowData[0];
		$minWidth = $Width[1];

		$Height = end($rowData);
		$maxHeight = reset($Height);

		$minHeight = reset($rowData[1]);

		?>

		<div class="product-configurator">
			<div class="colmn span_2_of_4">
				<div class="toggle">
					<label for="width-field"><p><strong>Gemeten Breedte cm</strong> <span class="config-required">*</span><span class="info-img"></span></p></label>
				</div>
				<p class="content" style="display: none;">Hier kunt u aangeven wat de totale breedte van de gordijnen moet zijn in centimeters</p>
				<input type="number" class="width-field" id="width-field" placeholder="Geef de totale breedte, links + rechts in cm" value="" name="width" min="<?php echo $minWidth; ?>" max="<?php echo $maxWidth; ?>" required disabled="disabled" />
			</div>
			<div class="colmn span_2_of_4">
				<div class="toggle">
					<label for="height-field"><p><strong>Gemeten hoogte (cm)</strong><span class="config-required">*</span><span class="info-img"></span></p></label>
				</div>
				<div class="content" style="display: none;">
					<p>Geef hier de hoogte van de gordijnen aan in centimeters (cm)<br />
					Gordijnen met ophangmethode:</p>
					<p><strong>Rails</strong> : meet vanaf de bovenkant van de rail tot vloer of vensterbank = netto metrage</p>
					<p><strong>Roede of ingeslagen ringen</strong> : meet vanaf de bovenkant van de roede tot vloer of vensterbank = netto metrage</p>
					<p><strong>Roede met losse ringen</strong> : meet vanaf de onderkant van de grote ring tot de vloer of vensterban = netto metrage</p>
				</div>
				<input type="number" class="height-field" id="height-field" placeholder="Geef de hoogte aan in cm" value="" name="height" min="<?php echo $minHeight; ?>" max="<?php echo $maxHeight; ?>" required disabled="disabled" />
			</div>
			<div class="colmn span_2_of_4" style="margin-left: 0">
				<div class="toggle">
					<label for="left_width"><p><strong>Breedte links (cm)</strong><span class="config-required">*</span><span class="info-img"></span></p></label>
				</div>
				<p class="content" style="display: none;">Gordijnen in twee delen? Geeft hier de breedte op in centimeters van het linker deel</p>
				<input type="number" placeholder="Geef de breedte van het linker deel in cm" value="" name="left_width" id="left_width" required disabled="disabled" />
			</div>
			<div class="colmn span_2_of_4">
				<div class="toggle">
					<label for="right_width"><p><strong>Breedte rechts (cm)</strong><span class="config-required">*</span><span class="info-img"></span></p></label>
				</div>
				<p class="content" style="display: none;">Gordijnen in twee delen? Geeft hier de breedte op in centimeters van het rechter deel</p>
				<input type="number" placeholder="Geef de breedte van het rechter deel in cm" value="" name="right_width" id="right_width" required disabled="disabled" />
			</div>

		</div>

		<script>
			require(["jquery", "pricecalculator"], function ($) {
				/*
				 * Product configurator form
				 */
				// (function($)(jQuery));

				$(document).ready(function($) {
					$('.product-configurator').productConfigurator('init', {
						successHandler: function(message) {
							console.log(message);
						}
					});
				});
			});
		</script>
		<?php
	endif;
endif;

if ($block->isRomanBlind()):
	if ($currentProduct = $block->getCurrentProduct()):

		$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
		$currentStore = $storeManager->getStore();
		$baseUrl = $currentStore->getBaseUrl();
		$product = $block->getCurrentProduct();
		$file = $product->getData('select_csv_data');

		$csvData = file_get_contents($baseUrl . 'CSV/'.$file.'.csv', 'r');
		$csvData = explode(PHP_EOL, $csvData);
		foreach ($csvData as $csvRow) {
			$rowData[] = str_getcsv($csvRow, ';');
		}

		$maxWidth = end($rowData[0]);
		$Width = $rowData[0];
		$minWidth = $Width[1];

		$Height = end($rowData);
		$maxHeight = reset($Height);

		$minHeight = reset($rowData[1]);

		?>

		<div class="product-configurator">
			<div class="colmn span_2_of_4">
				<div class="toggle">
					<label for="width-field"><p><strong>Gemeten Breedte (cm)</strong> <span class="config-required">*</span><span class="info-img"></span></p></label>
				</div>
				<p class="content" style="display: none;">Hier kunt u aangeven wat de totale breedte van de gordijnen moet zijn in centimeters</p>
				<input type="number" class="width-field" id="width-field" placeholder="Geef de totale breedte, links + rechts in cm" value="" name="width" min="<?php echo $minWidth; ?>" max="<?php echo $maxWidth; ?>" required disabled="disabled" />
			</div>

			<div class="colmn span_2_of_4">
				<div class="toggle">
					<label for="height-field"><p><strong>Gemeten hoogte (cm)</strong><span class="config-required">*</span><span class="info-img"></span></p></label>
				</div>
				<div class="content" style="display: none;">
					<p>Geef hier de hoogte van de gordijnen aan in centimeters (cm)<br />
					Gordijnen met ophangmethode:</p>
					<p><strong>Rails</strong> : meet vanaf de bovenkant van de rail tot vloer of vensterbank = netto metrage</p>
					<p><strong>Roede of ingeslagen ringen</strong> : meet vanaf de bovenkant van de roede tot vloer of vensterbank = netto metrage</p>
					<p><strong>Roede met losse ringen</strong> : meet vanaf de onderkant van de grote ring tot de vloer of vensterban = netto metrage</p>
				</div>
				<input type="number" class="height-field" id="height-field" placeholder="Geef de hoogte aan in cm" value="" name="height" min="<?php echo $minHeight; ?>" max="<?php echo $maxHeight; ?>" required disabled="disabled" />
			</div>
		</div>

		<script>
			require(["jquery", "pricecalculator"], function ($) {
				/*
				 * Product configurator form
				 */
				// (function($)(jQuery));

				$(document).ready(function($) {
					$('.product-configurator').productConfigurator('init', {
						successHandler: function(message) {
							console.log(message);
						}
					});
				});
			});
		</script>
		<?php
	endif;
endif;
