<!--@subject {{trans "Footer"}} @-->



                                                                </td>
                                                            </tr>
                                                        </tbody></table>

                                                    </td>
                                                    <td width="29" class="leftRightMargin20"><img class="leftRightMargin20" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/spacer10.gif" height="1" width="29" border="0" style="display:block;" pagespeed_url_hash="251499116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                                </td>

                                <td style="background:#e3e3e3;"><img src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/spacer10.gif" height="1" width="1" border="0" style="display:block;" pagespeed_url_hash="251499116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                            </tr>
                            <!-- / BODY: CONTENT -->


                            </tbody></table></td>
                    </tr>
                    <!-- / BODY -->
                    <!-- BOTTOM BORDER -->
                    <tr>
                        <td>
                            <table class="mobile_table_width" width="700" border="0" cellpadding="0" cellspacing="0" align="center">
                                <tbody><tr>
                                    <td><img src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_left_1px.jpg" width="1" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="3094184358" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                    <td><img src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_left_3px.jpg" width="3" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="567458136" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                    <td><img class="head_top_320px" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_312px.jpg" width="312" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="1089836669" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                    <td><img class="head_top_160px" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_160px.jpg" width="160" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="4201288640" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                    <td><img class="head_top_220px" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_220px.jpg" width="220" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="904190261" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                    <td><img src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_right_3px.jpg" width="3" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="2058901069" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                    <td><img src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/template_bot_right_1px.jpg" width="1" height="20" alt="" border="0" style="display:block;" pagespeed_url_hash="290659995" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <!-- / BOTTOM BORDER -->
                    <!-- LINKS FOOTER -->
                    <tr>
                        <td><table class="mobile_table_width" width="700" border="0" cellpadding="0" cellspacing="0" align="center">

                            <tbody><tr>
                                <td><table class="mobile_table_width" width="700" border="0" cellpadding="0" cellspacing="0" align="center">
                                    <tbody><tr>
                                        <td width="100%"><table class="mobile_table_width_utility_nav" border="0" cellpadding="0" cellspacing="0" align="left">
                                            <tbody><tr>
                                                <td align="left" class="ultility_nav_padding" style="padding:19px 0 21px 29px; font-family:Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; font-size:13px; color:#111111; font-weight:bold;">

                                                    <a href="https://www.linnengordijnenshop.nl/gordijnen" class="utility_nav" style="text-decoration:none; color:#111111;" target="_blank">Gordijnen</a>

                                                    <img class="utility_nav_spacer" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/spacer10.gif" height="1" width="10" border="0" style="display:inline;" pagespeed_url_hash="251499116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

                                                    <a href="https://www.linnengordijnenshop.nl/vouwgordijnen" class="utility_nav" style="text-decoration:none; color:#111111;" target="_blank">Vouwgordijnen</a>

                                                    <img class="utility_nav_spacer" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/spacer10.gif" height="1" width="10" border="0" style="display:inline;" pagespeed_url_hash="251499116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

                                                    <a href="https://www.linnengordijnenshop.nl/houten-jaloezieen" class="utility_nav" style="text-decoration:none; color:#111111;" target="_blank">Houten Jaloezieën</a>
                                                    <img class="utility_nav_spacer" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/spacer10.gif" height="1" width="10" border="0" style="display:inline;" pagespeed_url_hash="251499116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">

                                                    <a href="https://www.linnengordijnenshop.nl/gratis-stalen" class="utility_nav" style="text-decoration:none; color:#111111;" target="_blank">Gratis stalen</a>

                                                    <img class="utility_nav_spacer" src="https://s3-us-west-2.amazonaws.com/wysiwyg.email/templates/images/1/spacer10.gif" height="1" width="10" border="0" style="display:inline;" pagespeed_url_hash="251499116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">



                                                </td>
                                            </tr>
                                            </tbody></table>

                                    </td></tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <!-- / LINKS FOOTER -->
                    <!-- HORIZONTAL RULE -->
                    <tr>
                        <td height="1" alt="" border="1" style="display:block; border-bottom:1px solid #d9d9d9;"></td>
                    </tr>
                    <tr>
                        <td height="1" alt="" border="1" style="display:block; border-top:1px solid #ffffff;"></td>
                    </tr>
                    <!-- HORIZONTAL RULE -->
                    <!-- FOOTER -->
                    <tr>
                        <td style="padding:19px 29px; font-family:Helvetica, Arial, sans-serif;  -webkit-font-smoothing: antialiased; font-size:11px; color:#666666; text-align:left;"><span style="font-weight:bold;">Voeg linnengordijnenshop toe aan uw adresboek om aflevering van deze mail te garanderen.</span><br><br>Alle Rechten Voorbehouden. © 2017 www.linnengordijnenshop.nl. Seeligsingel 2 • 4811 CN Breda </td>
                    </tr>
                    <!-- / FOOTER -->
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>

</body>
</html>
