<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
if($this->getCorrectData()):
    $rating_percentage = $this->getRatingPercentage();
    $maxrating = $this->getMaxrating();
    $url = $this->getMicrodataUrl();
    $rating = $this->getRating();
    $reviews = $this->getReviews();
    $display = 'display:none;';
    if($this->getShowRating()){
        $display = 'display:block;';
    }
    ?>
<div class="upper-right">
    <div class="kiyoh-shop-snippets" style="<?php echo $display?>">
        <div class="rating-box">
            <div class="rating" style="width:<?php echo $rating_percentage;?>%"></div>
        </div>
        <div class="kiyoh-schema" itemscope="itemscope" itemtype="http://schema.org/WebPage">
            <div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="bestRating" content="<?php echo $maxrating;?>">
                <p>
                    <a href="<?php echo $url;?>" target="_blank" class="kiyoh-link">
                        <?php echo __('Beoordeling: ')?> <span itemprop="ratingValue"><?php echo $rating;?></span> <?php echo __('/ %1, gebaseerd op',$maxrating)?> <span itemprop="ratingCount"><?php echo $reviews;?></span> <?php echo __('klantreviews');?>
                    </a>
                </p>
            </div>
        </div>
    </div>
<?php endif;

