.block.newsletter {
    margin-bottom: $indent__xl;

    .form.subscribe {
        display: table;
        width: 100%;
    }

    .fieldset {
        display: table-cell;
        padding: 0;
        vertical-align: top;
    }

    .field {
        margin: 0;

        .control {
            @include lib-icon-font(
                $icon-envelope,
                $_icon-font-size       : 35px,
                $_icon-font-line-height: 33px,
                $_icon-font-color      : $form-element-input-placeholder__color
            );
            display: block;

            &:before {
                position: absolute;
            }
        }
    }

    input {
        padding-left: 35px;
    }

    .title {
        display: none;
    }

    .label {
        @extend .abs-visually-hidden;
    }

    .actions {
        display: table-cell;
        vertical-align: top;
        width: 1%;
    }

    .action.subscribe {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
    }
}

.newsletter {
  &--background {
    background: url('../images/newsletter_background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  &__avatar {
    max-height: 180px !important;
  }
  &__input {
    background: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.20);
    padding: 20px !important;
    width: 70% !important;
    max-width: 500px;
    border: 0 !important;
    height: 50px !important;
    &::placeholder {
      color: #E2DFDF !important;
      font-size: 17px;
    }
    &:focus {
      box-shadow: 0 0 4px 7px rgba(133, 162, 134, 0.6) !important
    }
  }
  &__btn {
    margin-left: -5px;
    vertical-align: top;
  }
}
//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .block.newsletter {
        width: 32%;

        .field {
            margin-right: 5px;

            .control {
                width: 100%;
            }
        }

        .action.subscribe {
            border-radius: 3px;
        }
    }
}
