<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currentCategory = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
?>
<div class="banner__image">
 <img src="<?php echo $currentCategory->getImageUrl(); ?>" class="full-width"/>
 <p></p>
</div>
