<div class="background--grey padding--large">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-12">
      </div>
      <div class="col-md-2 col-xs-12">
      </div>
      <div class="col-md-8 col-xs-12">
      </div>
    </div>
  </div>
</div>
