.post-content .post-description .post-ftimg-hld img {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 !important;
    filter: brightness(60%);
}

.post-holder {
    position: relative;
}

.post-info {

    padding-top: 6px !important;
}

.post-text-hld {
    margin-top: 250px;
}

.post-list .post-header .post-title {
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    float: none !important;
}


.post-header {

    .post-author,
    .post-posed-date {

        .label {

            display: none;
        }
    }

    .post-posed-date {

        padding-left: 10px;
    }
}

.post-title {
    #maincontent a {
        font-size: 14vw;
        text-decoration: underline;
    }
}

.post-view .post-nextprev-hld .next-link,
.prev-link {
    background: #85A286;
    color: $color-white !important;
    float: right;
    padding: 10px;
    text-decoration: none !important;
}

.post-list {

    padding: 0;
    .post-content .post-read-more {
        background: #85A286;
        color: $color-white !important;
        float: right;
        padding: 10px;
        text-decoration: none !important;
    }
    .post-holder {
        padding-top: 2px;
        .post-info {
            position: absolute;
            top: 305px;
            margin: 0 auto;
            width: 100%;
            z-index: 99;
            color: #000;
            a {
                color: #000;
            }
        }
        .post-header {
            padding-top: 90px;
            .post-title-holder {
                .post-title {}
                .addthis_toolbox {
                    bottom: 50px;
                    position: absolute;
                    right: 0;
                    z-index: 99;
                }
                h2 a {
                    font-size: 2em !important;
                    text-decoration: none !important;
                    color: $color-white !important;
                }
                h2 {
                    font-size: 2em !important;
                    z-index: 99;
                    position: absolute;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
}

.blog-post-view {
    .post-text-hld {
        margin-top: 20px;
    }
    .post-holder .post-header {
        margin-top: 280px;
        z-index: 99;
        color: #000;
        font-family: Avenir Book, Helvetica, Arial, sans-serif;
        a {
            color: #000;
        }
        .addthis_toolbox {
            position: absolute;
            right: 0;
            top: -255px;
        }
    }
    .page-main>.page-title-wrapper .page-title {
        display: block;
        margin: 0 auto;
        padding-left: 20px;
        position: absolute; //width: 100%;
        z-index: 99;
        padding-top: 115px;
        color: $color-white;
        font-family: Avenir Book, Helvetica, Arial, sans-serif;
    }
}

@media screen and (max-width: 700px) {

    .post-header {

        .post-info {
            font-size: 12px !important;

            a {
                font-size: 12px !important;
            }
        }
    }
}


@media screen and (max-width: 530px) {


    .post-list {
        .post-content {

            padding-top: 40px;
        }
    }
}


@media screen and (max-width: 530px) and (min-width: 380px) {



    .post-categories {

        display: block;
        width: 100%;
        padding-top: 5px;
    }
}

@media screen and (max-width: 420px) {
    .blog {
        &__author {
            float: left;
            margin-right: 10px;
        }
        &__author-image {
            height: 70px;
            width: 70px;
            float: left;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: -32px;
        }
    }

    .blog-post-view {
        .post-content .post-description .post-ftimg-hld img {
            height: 200px;
        }
        .page-main>.page-title-wrapper .page-title {
            padding-top: 90px !important;
        }
        .post-holder .post-header {
            margin-top: 185px !important;
            color: #000;
            font-family: Avenir Book, Helvetica, Arial, sans-serif;
            font-size: 10px;
        }
        .addthis_toolbox {
            top: -190px !important;
        }
    }
    .post-content .post-description .post-ftimg-hld img {
        height: 200px;
    }
    .post-text-hld {
        margin-top: 150px;
    }
    .post-list .post-holder .post-info {
        top: 200px;
        font-size: 10px;
        a {
            font-size: 10px !important;
        }
    }
}

.blog-post-view .page-main>.page-title-wrapper .page-title {

    @media screen and (min-width: 1040px) {

        padding-right: 30%;
    }

    @media screen and (max-width: 1040px) and (min-width: 748px) {

        padding-right: 20%;
    }
}


.post-list .post-holder .post-header .post-title-holder h2 a {
    @media screen and (max-width: 768px) {
        font-size: 42px !important;
    }
    @media screen and (max-width: 520px) {
        font-size: 32px !important;
    }
    @media screen and (max-width: 420px) {
        font-size: 20px !important;
    }
    @media screen and (max-width: 420px) {
        font-size: 20px !important;
    }
    @media screen and (max-width: 420px) {
        font-size: 20px !important;
    }
}

.blog {
    &__card {
      padding: 10px 10px 80px 10px !important;
    }
    &__author {
        float: left;
        position: absolute;
        bottom: -25px;
    }
    &__title {
      min-height: 105px;
      padding: 5px 0;
    }
    &__author-image {
        height: 80px;
        width: 80px;
        float: left;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -45px;
    }
}
