.breadcrumbs {
    @include lib-breadcrumbs;
}

.breadcrumbs-widget {
    @include lib-breadcrumbs;

    background-color: #fff;
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    padding: 20px;
}