a.action.primary,
button {
    border-radius: 0;
}
button {
    &:active {
        box-shadow: $button__shadow;
    }
}

button:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

a.action.primary {
    @include lib-link-as-button();
}
.action.primary {
    @include lib-button-primary();
}

.action {
  border-radius: 25px !important;
  text-decoration: none !important;
  text-align: center;
  font-family: $font-main;
  font-size: 13px;
  box-shadow: 0;
  transition: all .3s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  }
}

.btn {
  border-radius: 25px;
  text-align: center;
  font-family: $font-main;
  font-size: 13px;
  color: color(white);
  @each $color, $value in $color-map {
    &--#{$color} {
      border-color: color($color);
      background-color: color($color);
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus {
        border-color: color($color, dark);
        background-color: color($color, dark);
        cursor: pointer;
      }
    }
  }

  &--center {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &--radius {
    border-radius: 20px;
    &--none {
      border-radius: 0 !important;
    }
  }

  &--small {
    padding: 5px 10px;
  }

  &--medium {
    padding: 10px 40px;
  }

  &--large {
    padding: 15px 40px;
  }

  &__cart {
    display: inline-block;
    background: color(green);
    padding: 3px;
    color: #fff !important;
    margin: 0;
    border-radius: 50%;
    min-width: 10px;
    height: 30px;
    width: 30px;
    text-decoration: none !important;
    float: right;
    text-align: center;
    right: -10px;
    bottom: -10px;
    transition: 1s all;
    @media(max-width: 440px) {
      z-index: 9;
      right: 55px;
    }
    @media(max-width: 740px) {
      z-index: 9;
      right: 110px;
    }
    &:before {
      font-family: 'FontAwesome';
      content: '\f067';
      transition: 1s all;
      line-height: 1.7;
    }
    &--active {
      min-width: 150px;
      border-radius: 20px;
      &:before {
        content: '\f06e';
        background: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: color(green);
        float:right;
        text-align: center;
        line-height: 1.7;
      }
    }
    &--text {
      font-size: 12px;
      font-family: 'Avenir Medium';
      margin-top: 5px;
      text-decoration: none !important;
      display: none;

    }
  }
}
