.card {
  &__item {
    padding: 10px;
    display: block;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    &:hover {
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
      cursor:pointer;
    }
  }
  &__image {
    height: 200px;
    object-fit: cover;
    width: 100%;

    @media(max-width: 740px) {
      max-width: 300px;
      display: block;
      margin: 0 auto;
    }
  }
  &--center {
    &-mobile {
      @media(max-width: 740px) {
        display: block !important;
        margin: 0 auto !important;
        float: none !important;
        position: relative;
        text-align: center !important;
      }
    }
  }
}
