
//$color-dark-blue: #333a4d;
$color-dark-gray: #cccccc;
$color-orange: #e59400 ;
$color-dark-gray-2: #5b5f68;
$color-brown: #594733;

$bg-color-gray: #eae7e5;
$menu-color: #2d374c;
$footer-color: #5a616a;


$color-gray-blue: #5a616a;
$color-dark-blue: #2d374c;
$color-pink: #e68a80;
$color-orange: #85A286;
$color-black: #111111;

$color-sand-creme: #eae7ed;
$color-red: #c43f23;
$color-dark-green: #3f4c1e;
$color-light-brown: #c43f23;
$color-dark-gray: #343434;
$color-light-gray: #c9c9c9;

$color-mail: #2d374c;
$color-facebook: #4e689b;
$color-linkedin: #0479ac;
$color-pinterest: #bd2626;
$color-twitter: #2ca6de;
