//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  background-color: #FFF !important;
  height: 100%;
  a:link {
    color: $color-black;
  }
  /* visited link */
  a:visited {
    color: $color-black;
  }
  /* mouse over link */
  a:hover {
    color: $color-black;
  }
  /* selected link */
  a:active {
    color: $color-black;
  }
}
img {
  object-fit: cover;
}
.page-header {
  .panel.wrapper {
    background-color: $color-white;
  }
  .minicart-wrapper .action.showcart::before {
    color: $color-black;
  }
  .block-search {
    .action.search::before {
      color: $color-white;
      background-color: $color-gray-darken3 !important;
    }
    .control {
      input {
        padding-right: 0;
        border: none;
        width: 96%;
      }
    }
    .nested {
      display: none;
    }
    .actions {
      color: $color-white;
      button {
        background-color: $color-gray-darken3 !important;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
      }
    }
  }
}
.nav-sections {
  background-color: $bg-color-gray;
  margin-bottom: 0;
}
.navigation {
  .level0>.level-top {
    color: $color-white;
  }
}
.promo-text {
  background-color: $color-gray-blue;
  padding: 10px;
  margin-top: 1%;
  line-height: 30px;
  p {
    color: $color-white;
    font-family: Avenir Book, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    display: inline;
    padding: 0 1px;
  }
  ul {
    list-style: none;
    line-height: 2;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    li {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 20px;
      @media screen and (max-width: 768px) {
        display: block;
        margin-top: 7px;
      }
    }
  }
  .round {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $color-white;
    color: $color-dark-gray-2;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
  }
  .round-text {
    vertical-align: middle;
  }
}
.homepage-promo-img {
  position: relative;
  .image-main {
    filter: brightness(90%);
  }
  img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  .logo-white {
    img {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 100%;
      max-width: 500px;
      height: auto;
    }
  }
  .blocks-promo {
    padding: 0;
    margin: 0;
  }
  .blocks-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: $color-black;
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    a {
      text-decoration: none !important;
    }
    p {
      padding-left: 15px;
      padding-right: 15px; //padding-bottom: 10px;
      line-height: 1;
      font-weight: 300;
    }
    h2 {
      margin-bottom: 5px;
      margin-top: 10px;
    }
  }
  .gray {
    margin-bottom: 5px;
    background: rgba(90, 97, 106, 0.8);
    h2, p, a {
      color: $color-white;
    }
    p {
      margin-bottom: 3px;
    }
  }
  ul {
    color: $color-white; // padding-top: 20px;
    //padding-bottom: 20px;
    padding-left: 40px;
    margin-bottom: 4px;
    float: left;
    li {
      padding: 5px;
      font-family: Avenir Book, Helvetica, Arial, sans-serif;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 100;
      padding-right: 15px;
    }
  }
}

.cat-promo-img {
  position: relative;
  img {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    filter: brightness(60%);
  }
}
.cat-heading {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  text-align: center; //padding-top: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  h1 {
    color: $color-white;
    margin: 0;
  }
  h1, h4 {
    font-family: Avenir Book, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 100;
  }
}
.page-cat {
  display: inline-block;
  .blocks-promo {
    line-height: 0;
  }
  .colmn {
    margin: 0;
    background-color: #eae7e5;
  }
  p {
    padding: 20px;
    color: #555555;
  }
}
.lees-meer {
  text-align: center;
  padding: 20px;
}
.border-line {
  border-right: solid $color-black;
}
.border-bottom {
  border-bottom: solid $color-black;
  border-width: 1px;
  padding-bottom: 10px;
}
.sidebar .border-bottom {
  padding-top: 10px;
}
.payment-info {
  margin-top: 20px;
  text-align: center;
  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 30px;
    padding: 5px;
    display: inline-block;
  }
  p {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
  }
}
@media screen and (max-width: 990px) {
  .homepage-promo-img ul {
    padding-left: 35px;
    li {
      padding: 5px 8px 5px 0;
      font-size: 14px;
    }
  }
  .promo-text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 850px) {
  .homepage-promo-img ul {
    li {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 768px) {
  .absolute-wrapper {
    position: relative !important;
    display: table;
    width: 100%;
  }
  .promo-text {
    margin-top: 0;
  }
  .promo-text ul {
    padding: 20px 0;
    text-align: center;
  }
  .promo-text .round {
    display: none;
  }
  .homepage-promo-img ul {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0;
    li {
      padding: 0;
      text-align: center;
      list-style: none;
      border-bottom: 2px solid $color-white;
      padding: 10px;
      margin: 0;
      font-size: 14px;
    }
    .homepage-promo-img ul:last-of-type {
      border-bottom: 5px solid $color-white;
    }
  }
  .homepage-promo-img .logo-white img {
    max-width: 400px;
  }
  .featured__product {
    padding: 0 1% 10px 1% !important;
  }
  .kiyoh-shop-snippets {
    padding: 20px;
    .rating-box {
      float: none !important;
      margin: 0 auto !important;
      padding-bottom: 10px;
    }
    .kiyoh-schema {
      text-align: center;
      a {
        text-decoration: none !important;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .category-promo-img .blocks-text {
    top: 0;
    padding-top: 4px;
  }
  .inspiration .category-promo-img .blocks-text {
    top: inherit !important;
  }
}
@media screen and (max-width: 600px) {
  .homepage-promo-img .logo-white img {
    max-width: 250px;
  }
}
@media screen and (max-width: 480px) {
  /*
    .homepage-promo-img ul {
        width: 100%;
        padding: 0;

        li {
            display: inline-block;
            width: 45%;
            padding-left: 4%;
            list-style-type: circle;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 14px;
        }
    }

    */
  .homepage-promo-img .logo-white img {
    max-width: 180px;
    top: 10px;
    right: 10px;
  }
}
.page-wrapper .page-bottom {
  padding-left: 0;
  padding-right: 0;
  min-height: 0 !important;
  .category-bottom {
    margin-top: 30px;
    background: $color-white;
    padding: 20px;
    .colmn {
      margin-top: 0;
    }
    p {
      padding-bottom: 15px;
    }
  }
}
.product-info-main {
  h1 {
    font-size: 30px;
  }
}
.action.primary {
  background: #85A286;
  border: none !important;
  border-radius: none !important;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $color-orange;
  }
}
.categories-menu {
  padding-left: 10px;
  a {
    text-decoration: none !important;
  }
}
.ups-list {
  margin-top: 20px;
  .ups-content:nth-child(1) {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .ups-content:nth-child(2) {
    border-bottom: 1px solid #ccc;
  }
  .ups-content:nth-child(3) {
    border-right: 1px solid #ccc;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
  .ups-content {
    list-style: none;
    width: 49.9%;
    display: inline-block;
    height: 120px;
    text-align: center;
    float: left;
    @media screen and (max-width: 1250px) {
      width: 99%;
      display: block;
      border-bottom: 1px solid #ccc;
      border-right: none !important;
      height: 90px;
      &:last-child {
        border-bottom: none !important;
      }
    }
  }
  .ups-text {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    h2 {
      font-family: Avenir Book, Helvetica, Arial, sans-serif;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 21px;
      text-transform: uppercase;
      @media screen and (max-width: 1250px) {
        font-size: 18px;
        margin-top: 17px;
        margin-bottom: 10px;
      }
    }
  }
  .ups-icon {
    display: inline;
    vertical-align: middle;
  }
  .fa {
    font-size: 40px;
    color: $color-orange;
    text-align: center;
    width: 50px;
    margin-top: 40px;
    float: left;
  }
}
.product-item-info {
  text-align: center;
}
.product-item-name {
  a {
    text-decoration: none !important;
    font-size: 12px !important;
  }
  a:visited {
    color: $color-black;
  }
}
#maincontent {
  a {
    text-decoration: underline;
    font-size: 14px;
  }
  a:visited {
    color: $color-black;
  }
}
.width-field {
  margin: 10px 0;
}
.config-required {
  color: #e02b27;
  margin: 0 2px;
}
.info-img {
  padding: 0 8px;
  background-image: url("images/info.png");
  background-repeat: no-repeat;
  float: right;
  height: 20px;
}
.price, .new-price {
  font-size: 24px;
  font-family: 'open sans';
  font-weight: 300;
}
.hide-price {
  display: none;
}
.authentication-wrapper {
  margin-top: 0 !important;
  width: 100% !important;
}
.page-bottom {
  background-color: color(white);
  padding-left: 0;
  padding-right: 0;
  min-height: 0 !important;
  .category-bottom {
    margin-top: 30px;
    background: $color-white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    .colmn {
      margin-top: 0;
    }
    p {
      padding-bottom: 15px;
    }
    ul, ol {
      margin-top: 0px;
      margin-bottom: 0px;
      color: color(grey);
      font-family: Avenir Book, Helvetica, Arial, sans-serif;
    }
  }
}
.kiyoh {
  iframe {
    border-radius: 20px;
    border: solid 1px $color-black;
    margin-top: -15px;
  }
}

.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.postition-relative {
  position: relative;
}
.absolute-wrapper {
  position: absolute;
  bottom: 0;
  background-color: $color-gray-blue;
  margin-bottom: 4px;
  opacity: 0.8;
}
.icon {
  border: 1px solid green;
  float: left;
}
.icon-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
.product-item-actions {
  display: none !important;
}
.absolute-wrapper {
  width: 100%;
}

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    padding: 20px 0;
}

.item { /* Masonry bricks or child elements */
    // background-color: #eee;
    // display: inline-block;
    margin: 0 0 1em;
}


@media only screen and (max-width: 460px) {
  .masonry {
    column-count: 1;
  }
}

.avatar {
  max-height: 350px;
}
