.page-footer {
    margin: 0;

    .block.newsletter {
        margin-bottom: 20px;

        .field {
            width: 200px;
        }

        .action.subscribe {
            border-radius: 0;
            padding-top: 6px;
            padding-bottom: 5px;
        }
    }

    .footer.content .block {
        float: none;
    }

    .footer.content {
        border: none;
        margin-top: 0;
        padding: 0;
    }

    .content {
        background-color: $color-dark-gray-2;

        .links {
            width: 100%;

            p, a, span {
                color: $color-white;
                line-height: 133%;
            }
        }
    }
}

#socialicons {
    .envelope {
        background-color: $color-mail;
    }

    .facebook {
        background-color: $color-facebook;
    }

    .linkedin {
        background-color: $color-linkedin;
    }

    .pinterest {
        background-color: $color-pinterest;
    }
}

#socialicons .icon {
    display: inline-block;
    color: white;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    margin: 0 3px 8px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    border: none !important;
}

.footer .copyright {
    display: none;
}

.usps ul li {
    color: #c52c37;
    display: block;
    font-size: 16px;
    padding: 60px 30px 60px 0;
}

@media screen and (max-width: 1280px) {
    .page-footer {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;

        .block.newsletter .form.subscribe {
            display: block;
        }

        .block.newsletter .field {
            margin-bottom: 10px;
        }

        .footer.content .links {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 600px) {

.usps ul li {
    color: #c52c37;
    display: block;
    font-size: 16px;
    padding: 30px 30px 30px 0;
}


    }

@media screen and (max-width: 740px) {
    .page-footer {
        text-align: center;
        padding-left: 0;
        padding-bottom: 80px;

        .footer-links {
            padding-top: 20px;
        }

        .col {
            margin: 0;
        }

        .block.newsletter .action.subscribe {
            margin-top: 15px;
        }

        .block.newsletter .form.subscribe {
            display: block;
        }

        .block.newsletter .field {
            margin: 0 auto;
            bottom: 20px;
        }
    }

     .social-icons {

    text-align: center;
    width: 160px !important;
    margin: 0 auto !important;
    }
}

.footer {
  &__ul {
    list-style-type: none;
    width: 100%;
    @media(max-width: 740px) {
      display: none;
    }
    & li {
      padding: 5px 0;
      font-size: 16px;
      color: color(white) !important;
      text-align: left;
      @media(max-width: 740px) {
        text-align: center;
      }

      & a {
        text-decoration: none;
        border-bottom: none;
        color: color(white) !important;
        transition: 0.3s ease-in-out;
        &:hover {
          border-bottom: 1px solid #FFF;
        }
      }
    }
  }
  &__title {
    &:after {
      @media(max-width: 740px) {
        font-family: 'FontAwesome';
        content: '\f107';
        margin: 0 8px;
      }
    }
    &:first-of-type {
      @media(max-width: 740px) {
        padding-top: 10px;
      }
    }
  }
}


.sticky--footer {
  position: fixed;
  bottom: 0;
  float: left;
  width: 100%;
  z-index: 99999;
  height: 80px;
  &-search {
    position: fixed;
    bottom: 50px;
    float: left;
    width: 100%;
    z-index: 99999;
    height: 80px;
  }
}

.open {
  display: block !important;
}
$cubic: "cubic-bezier(.77,.06,.28,.85)";
#menu-trigger{
	position: relative;
	top: 3px;
	left: 0px;
	z-index:99;
	transition: all 0.5s ease;
	transform: scale(0.85);

	div{
		position: relative;
		display:block;
		height: 5px;
		margin-bottom: 7px;
		width: 40px;
		background: color(grey);
		transition: all 0.5s ease;
	}
	&:hover{
		cursor: pointer;
		div:nth-child(odd){
			width:35px;
		}
		div:nth-child(even){
			width:25px;
		}
	}
	&.clicked{
		div:nth-child(even){
			opacity:0;
		}
		div:nth-child(1){
			transform: rotate(45deg);
			top: 12px;
		}
		div:nth-child(3){
			transform: rotate(-45deg);
			top:-12px;
		}
		&:hover{
			div{
				width:40px !important;
			}
			transform: scale(0.75);
		}
	}
}

.menu{
	position:fixed;
	top:0px;
	left: -50%;
	width: 50%;
	height: 100vh;
	z-index: 98;
	transition: all 0.75s #{$cubic};
	&.open{
		left:0;
		box-shadow: 1px 0px 5px color(grey);
	}
}

.menu-tint{
	position: fixed;
	width:100%;
	height:100%;
	opacity:0;
	z-index: -1;
	transition: all 0.75s #{$cubic};
	&.open{
		opacity:0.15;
		z-index: 97;
	}
}
