/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.colmn {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.colmn:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;

    /* For IE 6/7 */
}

/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23.8%;
}

.span_1_of_5 {
    width: 18.7%;
}

@media screen and (max-width: 1100px) {
    .span_1_of_4 {
        width: 49.2%;
    }

    .span_1_of_4:nth-child(3) {
        margin-left: 0;
    }
}

/*  GO FULL WIDTH BELOW 600 PIXELS */

@media screen and (max-width: 600px) {
    .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
        width: 100%;
    }

    .span_1_of_4, .span_2_of_4 {
        margin: 1% 0 1% 0;
    }
}

@media screen and (max-width: 700px) {


     .span_1_of_4 {

        width: 49.5% !important;

        margin-right: 1% !important;
        margin-left: 0 !important;
     }

     .span_1_of_4:nth-child(3) {

margin-right: 0 !important;

     }





.span_2_of_4 {

    width: 100% !important;
}

    }

@media screen and (max-width:520px) {

    .span_1_of_4 {
      width: 100% !important;

    }

    .colmn {

        margin: 0 !important;
      
      }

      .span_1_of_4 {

          margin-top: 1% !important;
      }
}


