.page-header {
    .header.content {
        // padding-top: 10px;
        // padding-bottom: 10px;
        // padding-left: 0px;
        // padding-right: 0px;
    }
    .logo {
        margin: 0;
        padding: 0;
    }
    .block-search,
    .minicart-wrapper {
        margin-top: 10px;
    }
    .header.panel {
        padding-left: 0;
        padding-right: 0;
    }
    .panel li {
        margin: 0 !important;
        height: 12px;
    }
    .panel li:last-child {
        a {
            border: none;
        }
    }
    .panel a {
        font-family: Avenir Book, Helvetica, Arial, sans-serif;
        letter-spacing: normal;
        padding-left: 5px;
        padding-right: 5px;
        border-right-style: solid;
        border-width: 1px;
        float: left;
    }
}

.page-header .widget.block {
    display: inline;
    p {
        font-family: qanelaslregular, Helvetica, Arial, sans-serif;
        font-weight: 600;
        display: inline;
    }
    .phone-number {
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .fotorama__stage {
       // height: inherit !important;
    }
}

@media screen and (max-width: 640px) {
    .fotorama__nav,
    .fotorama__nav--thumbs {
        display: none !important;
    }
}

// @media screen and (min-width: 768px) {
//     .navigation li.level0.nav-7 {
//         display: none;
//     }
// }


@media screen and (max-width: 768px) {
    .nav-sections .header.links li:nth-child(2),
    .nav-sections .header.links li:nth-child(3) {
        display: none;
    }
    .page-header {
        .header.content {
            background-color: #2d374c;
            .logo {
                margin-left: 55px;
                -webkit-filter: invert(100%);
            }
            .nav-toggle::before {
                color: $color-white;
            }
            .minicart-wrapper .action.showcart::before {
                color: $color-white;
                float: left;
                margin-top: 0px;
                // margin-left: 15px
            }
            .block-search {
                float: left;
                margin-top: 20px;
            }
            .nav .block-search .label::before {
                color: $color-white;
            }
            .block-search .control {
                border-top: none;
                display: inline-block;
                .input-text {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 16px;
                }
                select:focus,
                textarea:focus,
                input:focus {
                    font-size: 16px;
                    background: #eee;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .page-header {
        .header.content,
        .header.panel {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}


@media screen and (max-width: 767px) {
 .header.content {
            background-color: #2d374c;
            .logo {
                  margin-left: -100px;

            }
        }



    }


@media screen and (max-width: 401px) {
 .header.content {
            background-color: #2d374c;
            .logo {
                 margin-left: 55px !important;
            }
        }



    }

.banner {
  // &__image {
  //   margin-top: -111px;
  //   @media screen and (max-width: 740px) {
  //     margin-top: 0;
  //   }
  // }
  &__h1 {
    font-size: 45px;
    color: #FFFFFF;
    line-height: 72px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.75);
    @media screen and (max-width: 440px) {
      display: none
    }
    @media screen and (max-width: 740px) {
      line-height: 1.6;
      font-size: 35px;
      margin-top: 600px;
    }
    @media screen and (max-width: 800px) {
      line-height: 39px;
      font-size: 28px;
    }
  }
  &--center {

      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media(max-width: 740px) {
        width: 100%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -80%);
      }
      @media(max-width: 800px) {
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
      }

  }
}

.usp {
  &__box {
    box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.15);
  }
  &__arrow {
    &:after {
      content: '';
      background-image: url("../images/usp/usp-after.png");
      display: block;
      text-align: center;
      height: 65px;
      width: 145px;
      background-repeat: no-repeat;
      margin: 0 auto;
      display: block;
      z-index: 10;
      position: relative;
    }
  }
  &__image {
    padding: 0 10px 0 0;
  }
}

.header {
  &--fixed {
    margin: 0;
  }
}


////
// Bouncing Arrow
////
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
	40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
	60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
	40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
	60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: absolute;
  width: 30px;
  margin: 0 auto;
  height: 30px;
  background-image: url(../images/usp/usp-arrow.png);
  background-size: contain;
  z-index: 999;
  left: 49.1%;
  @media(max-width: 800px) {
    left: 48%;
  }
  @media(max-width: 740px) {
    left: 47.5%;
  }
  @media(max-width: 440px) {
    left: 46%;
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
