.text {
  &--center {
    text-align: center;
    &-mobile {
      @media(max-width: 740px) {
        text-align: center;
        float: none !important;
      }
    }
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &__bold {
    font-weight: 700 !important
  }
  &--right {
    text-align: right;
  }
}

.color {
  &--white {
    color: color(white) !important;
  }
  &--grey {
    color: color(grey);
  }
  &--text-light-grey {
    color: color(text-light-grey);
  }
  &--green {
    color: color(green);
  }
}

.relative {
  position: relative;
}

.absolute {
    position: absolute;
    &--center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--bottom {
      bottom: 0;
    }
}

.active {
  display: block;
}

.float {
  &__right {
    float:right;
  }
  &--left {
    float: left;
  }
}

.padding {
  &__bottom {
    &--medium {
      padding-bottom: 40px;
    }
  }
  &--20 {
    padding: 20px;
  }
  &--none {
    padding: 0 !important;
  }
  &--x-small {
    padding: 10px 0;
  }
  &--small {
    padding: 20px 0 !important;
  }
  &--medium {
    padding: 40px 0;
    @media(max-width: 740px) {
      padding: 30px 0;
    }
  }
  &--large {
    padding: 80px 0;
    @media(max-width: 740px) {
      padding: 40px 0;
    }
  }
}

.margin {
  &--none {
    margin: 0 !important;
  }
  &--small {
    margin: 20px 0 !important;
  }
}

.height {
  &--small {
    height: 100px;
  }
  &--medium {
    height: 200px;
  }
  &--large {
    height: 400px;
  }
}

.full-width {
  width: 100% !important;
}

.background {
  &--green {
    background-color: #85A286
  }
  &--transparent {
    background: rgba(0,0,0,0.2);
  }
  &--white {
    background: color(white);
  }
  &--tips {
    background-color: color(light-grey);
    background-image: url('../images/tips_background.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
  }
  &--free {
    background-color: color(white);
    background-image: url('../images/rectangle_background.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40%;
  }
  &--light-grey {
    background-color: color(light-grey);
  }
}

.display {
  &--inline {
    display: inline-block;
  }
  &--block {
    display: block;
  }
  &--none {
    display: none !important;
  }
}

.float {
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}

.list {
  &--inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & li {
      display: inline;
      padding: 0 5px 0;
    }
  }
}

.border {
  &--none {
    border: none !important;
  }
  &--right {
    border-right: 1px solid #FFF;
  }

  &--top {
    border-top: 1px solid #FFF;
  }

  &--bottom {
    border-bottom: 1px solid #FFF;
  }

  @each $color, $_ in $color-map {
    &--#{$color} {
      border-color: color($color);
    }
  }

}

.vertical {
  &--bottom {
    vertical-align: bottom;
  }
}

.table {
  display: table;
  margin-bottom: 0;
  &--bottom {
    display: table-cell;
    vertical-align: bottom;
    @media(max-width: 800px) {
      vertical-align: top;
    }
  }
}


.hide {
  &--mobile {
    display: block;
    @media(max-width: 800px) {
      display: none;
    }
  }
  &--desktop {
    display: none;
    @media(max-width: 800px) {
      display: block;
    }
  }
}

.shadow {
  &--bottom {
    box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
  }
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}
