@media(min-width: 900px) and (max-width: 1200px) {
  .navigation a {
    font-size: 12px;
  }
  .container {
    max-width: 1110px;
  }
  .navigation .level0 {
    margin: 0;
  }
  .banner--center {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner__h1 {
    font-size: 40px;
  }
  .search__input {
    max-width: 440px;
  }
  .sidebar--block {
    padding: 0;
  }
}
