.message.info {
    @include lib-message-icon-inner(info);
}

.message.error {
    @include lib-message-icon-inner(error);
}

.message.warning {
    @include lib-message-icon-inner(warning);
}

.message.notice {
    @include lib-message-icon-inner(notice);
}

.message.success {
    @include lib-message-icon-inner(success);

    background: #85A286 none repeat scroll 0 0;
    color: $color-white;
    font-size: 24px;
    text-align: center;
    font-family: Avenir Book,Helvetica,Arial,sans-serif;
}

.message.success > *:first-child::before {
    color: $color-white;
    font-size: 50px;
    margin: -8px 0 0;
}
