@media (max-width: 740px) {

  //Navigation
  .nav-sections {
    background: #eae7e5 !important;
  }
  .navigation .level0 {
    background: #eae7e5;
  }

  .navigation .ui-menu-item a:nth-last-child(1) {
    color: #000;
    font-weight: 500;
  }
  .navigation .level0 > .level-top {
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 500;
    letter-spacing: 2px;
  }
  .nav-sections a:link {
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 500;
    letter-spacing: 2px;
  }
  .nav-sections .header.links a {
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 500;
    letter-spacing: 2px;
  }
}


@media only screen and (max-width: 400px) {

  .landscape {
    &__full-width {
      width: 100% !important;
    }
  }

  .display__mobile {
    display: block;
  }

  .hide__mobile {
    display: none;
  }

  .top__header-links {
      height: 20px
  }

  .fa-check {
    margin-right: 10px;
  }

  .fa-search {
    float: right;
  }

  .background {
    &__grey {
      background: #EAE7E5;
      color: #000;
      padding: 20px;
      overflow: hidden;
      padding: 10px;
      margin-bottom: 10px;
    }
  }



  .category {
    &__title-blue {
      font-family: Avenir Book,Helvetica,Arial,sans-serif;
      background-color: #2d374c;
      padding: 24px;
      display: block;
      margin: 10px 0;
      width: 100%;
      box-sizing: border-box;
      & > p {
        text-align: center;
        color: #FFF;
        font-size: 20px;
        font-family: Avenir Book,Helvetica,Arial,sans-serif;
      }
      & > a {
        text-align: center;
        color: #FFF !important;
        font-size: 20px !important;
        font-family: Avenir Book,Helvetica,Arial,sans-serif;
        text-decoration: none !important;
        display: block;
        margin: 0 auto;
      }
    }

    &__title-orange {
      font-family: Avenir Book,Helvetica,Arial,sans-serif;
      color: #FFF !important;
      text-align: center;
      background-color: #85A286;
      padding: 20px;
      display: block;
      margin: 10px 0;
      float: left;
      text-decoration: none !important;
      width: 100%;
      font-size: 24px !important;
      box-sizing: border-box;
      & > p {
        text-align: center;
        color: #FFF;
        font-size: 24px;
      }
    }
  }

  .usp {
    list-style-type: none;
    padding-left: 0;
    & li {
      position: relative;
      margin-left: 23px;
    }
    & li:before {
      font-family: 'FontAwesome';
      content: '\f00c';
      float: left;
      position: absolute;
      left: -25px;
      color: #000;
    }

  }

  .steps {
    padding: 0;
    list-style-type: none;
    & > li {
      display: inline-block;
      width: 32%;
      vertical-align: top;
      & > p {
        color: #FFF;
        font-size: 17px;
        text-align: center;
      }
    }
    &__number {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #fff;
      color: #5b5f68;
      display: block;
      margin: 0 auto;
      padding: 7px;
      margin-bottom: 10px;
      line-height: 2;
      text-align: center;
    }
    &__title {
      text-align: center;
      font-size: 20px !important;
      color: #FFF;
    }
    &__background {
      background-color: #5a616a;
      padding: 10px;
      margin-top: 1%;
      line-height: 30px;
      position: relative;
    }
    & > p {
      text-align: center;
    }

  }

  .category-promo-img {
   & .blocks-promo {
      padding: 0;
      margin: 0;
      position: relative;
      & > a {
        & > img {
          height: 85px;
        }
      }
    }

   & > img {
      width: 100%;
      max-height: 600px;
      object-fit: cover;
      height: 100%;
    }

    & .blocks-text {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      color: #111;
      background: rgba(255,255,255,.5);
      padding-bottom: 5px;
    }
  }

  .footer {
    &__social {
      text-align: center;
      & li {
        display: inline-block;
      }
    }
  }

  .featured {
    &__product {
      display: block;
      float: left;
      width: 46.5%;
      padding: 0 10px 10px 0;
      &:nth-child(2) {
        float: right;
      }
      &:nth-child(4) {
        float: right;
      }
      & > img {
        width: 95%;
      }
      & > a {
        text-decoration: none !important;
      }
    }
    &__title {
      color: #000;
      text-decoration: none !important;
      font-size: 15px;
    }
    &__price {
      color: #000;
      text-decoration: none !important;
      font-size: 13px;
    }
  }
  .page-header {
    .panel a {
      float: right;
      margin-top: 3px;
    }
  }
  .block-search,
  .minicart-wrapper {
    margin-top: 0px;
  }

  .header {
    &__phone-icon {
      display: block;
      float: left;
    }
    &__phone {
      padding: 35px 0px 35px 10px;
      margin-top: -25px;
    }
  }

  .fa-phone {
    color: white;
    font-size: 40px;
    position: relative;
    float: left;
  }
}

@media only screen and (max-width: 700px)  and (min-width: 401px) {
  .category-promo-img {
   & .blocks-promo {
      padding: 0;
      margin: 0;
      position: relative;
      & > a {
        & > img {
          height: 85px;
        }
      }
    }

   & > img {
      width: 100%;
      max-height: 600px;
      object-fit: cover;
      height: 100%;
    }

    & .blocks-text {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      color: #111;
      background: rgba(255,255,255,.5);
      padding-bottom: 5px;
    }
  }

  .category {
    &__title-blue {
      font-family: Avenir Book,Helvetica,Arial,sans-serif;
      background-color: #2d374c;
      padding: 24px;
      display: block;
      margin: 10px 0;
      width: 100%;
      box-sizing: border-box;
      & > p {
        text-align: center;
        color: #FFF;
        font-size: 20px;
        font-family: Avenir Book,Helvetica,Arial,sans-serif;
      }
      & > a {
        text-align: center !important;
        color: #FFF !important;
        font-size: 20px !important;
        font-family: Avenir Book,Helvetica,Arial,sans-serif;
        text-decoration: none !important;
        display: block !important;
        margin: 0 auto !important;
      }
    }
    &__title-orange {
      font-family: Avenir Book,Helvetica,Arial,sans-serif;
      color: #FFF !important;
      text-align: center;
      background-color: #85A286;
      padding: 20px;
      display: block;
      margin: 10px 0;
      float: left;
      text-decoration: none !important;
      width: 100%;
      font-size: 24px !important;
      box-sizing: border-box;
      & > p {
        text-align: center;
        color: #FFF;
        font-size: 24px;
      }
    }
  }

  .featured {
    &__product {
      display: block;
      float: left;
      width: 48%;
      padding: 0 10px 10px 0;
      &:nth-child(2) {
        float: right;
      }
      &:nth-child(4) {
        float: right;
      }
      & > img {
        width: 95%;
      }
      & > a {
        text-decoration: none !important;
      }
    }
    &__title {
      color: #000;
      text-decoration: none !important;
      font-size: 15px;
    }
    &__price {
      color: #000;
      text-decoration: none !important;
      font-size: 13px;
    }
  }

    .display__mobile {
      display: block;
    }

    .hide__mobile {
      display: none;
    }

    .usp {
      list-style-type: none;
      padding-left: 0;

    }

    .steps {
      padding: 0;
      list-style-type: none;
      & > li {
        display: inline-block;
        width: 32%;
        vertical-align: top;
        & > p {
          color: #FFF;
          font-size: 17px;
          text-align: center;
        }
      }
      &__number {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fff;
        color: #5b5f68;
        display: block;
        margin: 0 auto;
        padding: 7px;
        margin-bottom: 10px;
        line-height: 2;
        text-align: center;
      }
      &__title {
        text-align: center;
        font-size: 20px !important;
        color: #FFF;
      }
      &__background {
        background-color: #5a616a;
        padding: 10px;
        margin-top: 1%;
        line-height: 30px;
        position: relative;
      }
      & > p {
        text-align: center;
      }

    }

    .width-20 {
      width: 20%;
      display: block;
      float: left;
    }
    .width-33 {
      width: 100% !important;
    }
    .width-40 {
      width: 40%;
      display: block;
      float: left;
    }
    .width-60 {
      width: 60%;
      display: block;
      float: left;
    }
    .width-80 {
      width: 80%;
      display: block;
      float: left;
    }
    .width-100 {
      width: 100%;
      display: block;
      float: left;
    }

    .footer {
      &__social {
        float: left;
        & li {
          display: inline;
        }
      }
    }

    .background {
      &__grey {
        background: #EAE7E5;
        color: #000;
        padding: 20px;
        overflow: hidden;
        padding: 10px;
        margin-bottom: 10px;
      }
    }

  .colmn {
    margin: 1%;
  }
  .display__mobile {
    display: block;
  }

  .hide__mobile {
    display: none;
  }

  .header {
    &__phone-icon {
      display: block;
      float: left;
    }
    &__phone {
      padding: 25px 0 35px 10px;
      margin-top: -10px;
    }
  }

  .fa-phone {
    color: white;
    font-size: 40px;
    position: relative;
    float: left;
  }


  .block-search, .minicart-wrapper {
    margin-top: 10px !important;
  }

  .span_2_of_4 {
    width: 48%;
  }
  .span_1_of_4 {
    width: 47.2%;
    &:nth-child(3) {
      margin-left: 0;
    }
  }
  .landscape {
    &__full-width {
      width: 100% !important;
      margin: 0 !important;
    }
  }
}


@media only screen and (min-width: 701px) {
  .display__mobile {
    display: none;
  }
  .hide__mobile {
    display: block;
  }
}
