//
//  Variables
//  _____________________________________________
$active-nav-indent: 54px;

$color-gray-blue: #5a616a;
$color-dark-blue: #2d374c;
$color-pink: #e68a80;
$color-orange: #FFFFFF;
$color-black: #111111;
$color-gray: #5d5d5d;
$color-sand-creme: #eae7ed;
$color-red: #c43f23;
$color-dark-green: #3f4c1e;
$color-light-brown: #c43f23;
$color-dark-gray: #343434;
$color-light-gray: #c9c9c9;

//
//  Common
//  _____________________________________________
.panel.header {
    .links, .switcher {
        display: none;
    }
}

.nav-sections {
    background: $navigation__background;
}

.nav-toggle {
    @include lib-icon-font($icon-menu, $_icon-font-size: 28px, $_icon-font-color: $header-icons-color, $_icon-font-color-hover: $header-icons-color-hover);
    @include lib-icon-text-hide;

    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 14;
}


//
//  Mobile
//  _____________________________________________
@include max-screen($screen__m - 1) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;

                @include lib-icon-font($_icon-font-content: $icon-down, $_icon-font-size: 42px, $_icon-font-position: after, $_icon-font-display: block);

                &:after {
                    position: absolute;
                    right: 7px;
                    top: 25%;
                }

                &.ui-state-active {
                    @include lib-icon-font-symbol($_icon-font-content: $icon-up, $_icon-font-position: after);
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        transition: left 0.3s;
        height: 100%;
        left: -80%;
        left: calc(-1 * (100% - #{$active-nav-indent}));
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(100% - #{$active-nav-indent});

        .switcher {
            border-bottom: 1px solid $color-gray82;
            font-size: 1.6rem;
            font-weight: 700;
            margin: 0;
            padding: 0.8rem 3.5rem 0.8rem 2rem;

            .label {
                display: block;
                margin-bottom: $indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid $color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;

                @include lib-icon-font($_icon-font-content: $icon-down, $_icon-font-size: 42px, $_icon-font-position: after, $_icon-font-display: block);

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                @include lib-icon-font-symbol($_icon-font-content: $icon-up, $_icon-font-position: after);
            }
        }

        .switcher-dropdown {
            @include lib-list-reset-styles;

            padding: $indent__s 0;
        }

        .header.links {
            @include lib-list-reset-styles;

            border-bottom: 1px solid $color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid $color-gray82;
                    font-weight: 700;
                    padding: 0.8rem $indent__base;
                }

                & > a {
                    border-top: 1px solid $color-gray82;
                }
            }

            a, a:hover {
                color: $navigation-level0-item__color;
                text-decoration: $navigation-level0-item__text-decoration;
                display: block;
                font-weight: 700;
                padding: 0.8rem $indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            transition: left 0.3s;
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(100% - #{$active-nav-indent});
        }

        .nav-sections {
            $_shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);

            box-shadow: $_shadow;
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, 0.7);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        @include lib-clearfix;

        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: darken($navigation__background, 5%);
        border: solid darken($navigation__background, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        @include lib-clearfix;

        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: $indent__m 0;
    }

    @include lib-main-navigation;
}

// .has-active {
//     border-bottom: 2px solid #FFF;
// }

//
//  Desktop
//  _____________________________________________
@include min-screen($screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        flex-shrink: 0;
        flex-basis: auto;
        margin-bottom: $indent__m;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    @include lib-main-navigation-desktop;

    .panel.header {
        .links, .switcher {
            display: inline-block;
        }
    }
}


.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
    border-bottom: none !important;
}

.breadcrumbs {
    background-color: $color-white;
    margin-bottom: 0 !important;
    padding: 20px;
}

.navigation a {
    line-height: 133%;
    letter-spacing: 2px;
    color: $color-white;
    font-weight: 400;
}

.navigation {
    .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
        color: #fff !important;
    }

    .level0 > .level-top {
        line-height: auto !important;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:after {
          top: 26px;
        	content: "";
        	position: absolute;
        	height: 2px;
        	background-color: #FFF;
        	width: 0;
        	left: 50%;
        	bottom: 0;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
        	transform: translateX(-50%);
        	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
          	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
        }
        &:hover {
          color: #FFF;
          &:after {
            width: 95%;
          }
        }
    }

    .active > .level-top {
      color: #FFF !important;
        line-height: auto !important;
        &:after {
          width: 95% !important;
          top: 45px;
          content: "";
          position: absolute;
          height: 2px;
          background-color: #FFF;
          width: 0;
          left: 50%;
          bottom: 0;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }

    }

    .ui-menu-item {
        display: inline-block;
        margin: 0 10px 0 0;
        position: relative;

        a:hover {
            text-decoration: none;
            color: #FFF;
        }
    }
}

.sidebar-main {
    p {
        font-family: Avenir Book;
    }

    .type-title a {
        font-weight: 600;
    }
}

@media screen and (max-width: 767px) {
    .nav-sections {
        background: $color-dark-blue !important;

        a:link {
            color: $color-white;
        }
    }

    .navigation .ui-menu-item {
        display: block;
        margin: 0;
    }

    .navigation .ui-menu-item a:nth-last-child(1) {
        color: $color-white;
        font-weight: 700;
    }

    .navigation .ui-menu-item:nth-last-child(1) {
        //border-top: 1px solid #d1d1d1;

        // padding: 8px 40px 8px 0px;

    }

    .navigation .parent .level-top::after {
        top: 8px;
    }

    .navigation .level0.active > a:not(.ui-state-active), .navigation .level0.has-active > a:not(.ui-state-active) {
        color: $color-white;
    }

    .nav-sections-item-title {
        background: $color-dark-blue;
        border-style: none;
        color: $color-white;
        text-align: left;
        width: auto;
    }

    .nav-sections-item-title.active a {
        color: $color-orange;
    }

    .nav-sections-item-title a {
        color: $color-white;
        font-family: Avenir Book,Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        padding: 8px 40px 8px 15px;
        line-height: 32px;
    }

    .nav-sections .header.links a {
        color: $color-white;
        font-family: Avenir Book,Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        padding: 8px 40px 8px 15px;
        line-height: 32px;
    }

    .nav-sections .header.links a:hover {
        color: $color-orange;
        display: block;
        font-weight: 700;
        padding: 8px 40px 8px 15px;
        text-decoration: none;
    }


    .nav-sections .header.links {
        color: $color-white;
        border-style: none;
    }

    .navigation .submenu .active > a {
        color: #FF5500;
    }

    .navigation .level0.active .all-category .ui-state-focus {
        color: #FF5500;
    }

    .navigation .ui-menu-item:nth-last-child(1) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.navigation .level0 > .level-top:hover, .navigation .level0 > .level-top.ui-state-focus {
    color: #FFF;
}

.mobile-navigation {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 90%;
  overflow: scroll;
  display: none;
  min-height: 100%;
  background-color: #eae7e5;
  &--open {
    display: block !important;
  }
  &.submenu {
    display: none;
  }
}
