.pages {
    text-align: center;
    @include lib-pager;

    .action {
        width: 34px;
        border: none !important;

        &.previous {
            margin-right: 12px;
        }

        &.next {
            margin-left: 12px;
        }
    }
}
