<?php if($block->isModuleEnabled()): ?>

  <div id="cookie--box" class="cookie--box">
    <div class="container container-fluid">
      <div class="row">
        <div class="col-12 col-md-10">
          <p class="margin--none">Om u beter en persoonlijker te helpen, gebruiken wij cookies en vergelijkbare technieken. Met de cookies volgen wij en derde partijen uw internetgedrag binnen onze site. <a href="/privacy-policy">Lees meer</a></p>
        </div>
        <div class="col-12 col-md-2">
          <a class="btn btn--medium color--white btn--green btn--cookie btn--cookie--accept" onclick="setForzaCookie()"><?php echo __('Accept'); ?></a>
        </div>
      </div>
    </div>
  </div>



<script>
  require(['jquery'], function($) {
    'use strict';

      $('.btn--cookie--save').on('click', function() {
        $('.cookie--box').hide("slow");
        $('.cookie--mask').hide("slow");
      });

      $('.btn--cookie--accept').on('click', function() {
        $('.cookie--box').hide();
      });

      $('.btn--cookie--settings').on('click', function() {
        $('.cookie--mask').show("slow");
        // $('body').css({"overflow":"hidden"});
      })

      $('.close--settings').on('click', function() {
        $('.cookie--mask').hide("slow");
      })
  });

  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
  function eraseCookie(name) {
    document.cookie = name+'=; Max-Age=-99999999;';
  }

  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  function eraseCookie(name) {
    document.cookie = name+'=; Max-Age=-99999999;';
  }

  function setForzaCookie() {
    setCookie('forza_cookie','forza_cookie',31);

  }

  var CookieBox = document.getElementById("cookie--box");

  var forzaCookie = getCookie('forza_cookie');

  if (document.cookie.indexOf('forza_cookie') > -1) {
    console.log('cookies accepted');
    CookieBox.style.display = "none";
  } else {
    CookieBox.style.display = "block";
  }
</script>


<?php endif; ?>
