/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */

 .blog-index-index {
    background-color: #F7F7F7 !important;
 }

.blog-index-index .page-main {
    background-color: #F7F7F7 !important;
 }

.blog__image {
  height: 500px;
  width: 100%;
  object-fit: cover;

}

@media(max-width: 450px) {
  .blog__image {
    height: 300px;

  }
}
