<div class="container">
  <div class="row padding--large">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <form class="form contact"
            action="<?= $block->escapeUrl($block->getFormAction()) ?>"
            id="contact-form"
            method="post"
            data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
            data-mage-init='{"validation":{}}'>
          <fieldset class="fieldset">
              <h3><?= $block->escapeHtml(__('Write Us')) ?></h3><br />
              <p><?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></p>
              <div class="field name required">
                  <p><?= $block->escapeHtml(__('Name')) ?></p>
                  <div class="control">
                      <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                  </div>
              </div>
              <div class="field email required">
                    <p><?= $block->escapeHtml(__('Email')) ?></p>
                  <div class="control">
                      <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                  </div>
              </div>
              <div class="field telephone">
                    <p><?= $block->escapeHtml(__('Phone Number')) ?></p>
                  <div class="control">
                      <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
                  </div>
              </div>
              <div class="field comment required">
                  <p><?= $block->escapeHtml(__('What’s on your mind?')) ?></p>
                  <div class="control">
                      <textarea name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                  </div>
              </div>
              <?= $block->getChildHtml('form.additional.info') ?>
          </fieldset>
          <div class="actions-toolbar">
              <div class="primary">
                  <input type="hidden" name="hideit" id="hideit" value="" />
                  <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="btn btn--green display--block full-width">
                      <span><?= $block->escapeHtml(__('Submit')) ?></span>
                  </button>
              </div>
          </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <p>Linnengordijnen is de leukste en goedkoopste online linnen webshop met 100% linnen gordijnen en vouwgordijnen, op maat gemaakt. Wij hebben geen winkel of showroom. Voor een vrijblijvend (telefonisch) advies over de keuze van uw linnen gordijnen en/of linnen vouwgordijnen, eventueel bij u thuis, kunt u ons bereiken via onderstaande contactgegevens. Wij zijn telefonisch bereikbaar 7 dagen per week tussen 08.00 uur en 21.00 uur. Indien u gebruik maakt van mail of het contactformulier ontvangt u binnen 1 werkdag een reactie terug van ons.</p>
      <br />
      <p class="h3">Contactgegevens Linnengordijnen:</p>
      <br />
      <p>Peter-Paul Brooimans, stylist/eigenaar Linnengordijnen.nl</p>
      <p>Seeligsingel 2 4811CN Breda</p>
      <p>Telefoonnummer: 0031 (0) 76 5 329 326</p>
      <p>E-mail : <a href="mailto:info@linnengordijnen.nl">info@linnengordijnen.nl</a></p>
      <p>Website: <a href="http://www.linnengordijnen.nl">www.linnengordijnen.nl</a></p>
      <p>KvK-nummer: 69114919</p>
      <p>Btw-identificatienummer: NL857742048B01</p>
      <p>IBAN: NL38ABNA0420969691</p>
    </div>
  </div>
</div>
