<div class="banner__image relative padding__bottom--medium">
  <img src="/pub/media/cms-images/contact.jpg" class="full-width" />
  <div class="absolute banner__text banner--center">
    <div class="text--center">
      <h1 class="h1 banner__h1 color--white">Contact Ons</h1>
    </div>
  </div>
</div>
