$colors: (
  white: #FFF,
  orange: #ffa502,
  light-grey: #F7F7F7,
  text-light-grey: #949494,
  grey: #4A4A4A,
  blue: #5a616a,
  green: #85A286
);

$color-shade-percentage: 10%;
$color-opacity-light: 0.3;
$color-opacity-dark: 0.7;
