<div class="section group" id="category-section">
  <div class="category__title-blue">
    <a href="/gordijnen"><?php echo __('Gordijnen'); ?></a>
  </div>
  <div class="colmn span_1_of_4">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/gordijnen/linnen-gordijnen">
          <img src="../pub/media/wysiwyg/sfeer-linnen_153-naturel.jpg" alt="Vouwgordijn" width="1000" height="1000" />
          <div class="blocks-text">
            <h2>linnen</h2>
            <p>Echte linnen gordijnen van 100% natuurlijk linnen</p>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="colmn span_1_of_4">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/gordijnen/linnenlook-gordijnen">
          <img src="../pub/media/wysiwyg/sfeer-linnenlook_61-peper-_-zout.jpg" alt="Vouwgordijn" width="1000" height="1000" />
          <div class="blocks-text">
            <h2>linnenlook</h2>
            <p>Linnenlook gordijnen gemaakt van 100% polyester</p>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="colmn span_1_of_4 landscape__full-width">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/gordijnen/transparante-gordijnen">
          <img src="../pub/media/wysiwyg/sfeer-transparant_74-taupe.jpg" alt="transparant" width="1000" height="1000" />
          <div class="blocks-text">
            <h2>transparant</h2>
            <p>Ook wel bekend als vitrage of inbetween gordijnen.</p>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="colmn span_1_of_4 landscape__full-width">
    <div class="category__title-blue">
      <a href="/houten-jaloezieen">
        Houten jaloezie&euml;n
      </a>
    </div>
  </div>
</div>
<div class="section group">
  <div class="category__title-blue">
    <a href="/vouwgordijnen"><?php echo __('Vouwgordijnen'); ?></a>
  </div>
  <div class="colmn span_1_of_4">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/vouwgordijnen/linnen-vouwgordijnen">
          <img src="../pub/media/wysiwyg/vouw_linnen_150-wit_1.jpg" alt="Vouwgordijn" width="700" height="700" />
          <div class="blocks-text">
            <h2>linnen</h2>
            <p>Prachtige linnen vouwgordijnen van 100% natuurlijk linnen</p>
            <p></p>
          </div>
        </a>
      </div>

    </div>
  </div>
  <div class="colmn span_1_of_4">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/vouwgordijnen/linnenlook-vouwgordijnen">
          <img src="../pub/media/wysiwyg/vouw_linnenlook_91-gebroken-wit.jpg" alt="Vouwgordijn" width="700" height="700" />
          <div class="blocks-text">
            <h2>linnenlook</h2>
            <p>Linnenlook vouwgordijnen gemaakt van 100% polyester</p>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="colmn span_1_of_4 landscape__full-width">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/vouwgordijnen/transparante-vouwgordijnen">
          <img src="../pub/media/wysiwyg/vouw_-transparant_90-wit.jpg" alt="Vouwgordijn" width="700" height="700" />
          <div class="blocks-text">
            <h2>transparant</h2>
            <p>Vouwgordijnen van hoogwaardige linnen/polyester kwaliteit</p>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="colmn span_1_of_4 landscape__full-width inspiration">
    <div class="category-promo-img">
      <div class="blocks-promo">
        <a href="/inspiratie">
          <img src="../pub/media/wysiwyg/inspiratie.jpg" alt="Vouwgordijn" width="700" height="700" style="height: 100%;" />
          <div class="blocks-text gray">
            <h2>laat u inspireren</h2>
            <p>Laat u inspireren om uw huis nog gezelliger te maken</p>
            <p></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
