<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$productCollection = $objectManager->get('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory')
                                   ->create()
                                   ->addAttributeToSelect('*')
                                   ->addAttributeToFilter('featured', '1')
                                   ->setPageSize(4);
// var_dump($productCollection->getData());
?>

<div class="category__title-blue">
  <p>Een greep uit ons aanbod</p>
</div>

<?php foreach ($productCollection as $product): ?>

<div class="featured__product">
  <a href="<?php echo $product->getProductUrl(); ?>" />
    <img src="pub/media/catalog/product<?php echo $product->getImage(); ?>" alt="<?php echo $product->getName(); ?>" />
    <p class="featured__title"><?php echo $product->getName(); ?></p>
    <p class="featured__price">Vanaf &euro;<?php echo $product->getFinalPrice(); ?></p>
  </a>
</div>

<?php endforeach; ?>

<a class="category__title-orange" href="#category-section">Al onze producten</a>
