<div class="grid__row">
  <div class="background__grey-mobile">
    <div class="width-60">

      <ul class="usp">
        <li><a href="/gratis-stalen" style="text-decoration: none;">Gratis stalen</a></li>
        <li><a href="/gevoerde-gordijnen" style="text-decoration: none;">Gratis gevoerd</a></li>
        <li><a href="/gordijnen" style="text-decoration: none;">Gratis op maat gemaakt</a></li>
        <li><a href="/gordijnen" style="text-decoration: none;">Binnen 6 weken in huis</a></li>
        <li><a href="/over-ons/" style="text-decoration: none;">Gratis advies</a></li>
        <li><a href="/gordijnen" style="text-decoration: none;">Gratis verzending</a></li>
        <li><a href="/meet-instructie" style="text-decoration: none;">Inmeet en montageservice</a></li>
        <li><a href="/meet-instructie" style="text-decoration: none;">Levering in Nederland en België  <img src="/pub/media/wysiwyg/nl.png" style="display:inline-block;height: 16px;width: 23px;padding-top: -3px;"><img src="/pub/media/wysiwyg/be.png" style="display:inline-block;height: 15px;width: 25px;margin-left: 10px;"></a></li>
      </ul>

    </div>
    <div class="width-40">
      <img src="../pub/media/wysiwyg/logo_linnen.svg" />
    </div>
  </div>
</div>
