<p>
<script type="text/javascript" xml="space">// <![CDATA[
setTimeout(function(){
document.getElementById('kiyoh').innerHTML='<iframe src="https://www.kiyoh.nl/widget.php?company=8646&amp;border=0" width="200" height="140" frameborder="0" scrolling="no"></iframe>';
}, 6000);
// ]]></script>
</p>
