<div class="steps__background">
  <p class="steps__title"><strong>Bestel in 3 stappen</strong></p>
  <ul class="steps">
    <li>
      <div class="steps__number">1.</div>
      <p>Kleur en<br /> materiaal</p>
    </li>
    <li>
      <div class="steps__number">2.</div>
      <p>Maakwijze</p>
    </li>
    <li>
      <div class="steps__number">3.</div>
      <p>Voering en<br /> afwerking</p>
    </li>
  </ul>
</div>
