<div class="grid__row">
  <div class="progress__header">
    <p>Step <span class="step--number">1</span> van 4</p>
  </div>

  <!--Step 1-->
  <div class="grid__row options--step">
    <div class="width-60 match-height padding--none options">

      <img src="/media/wysiwyg/sfeer-linnen_153-naturel.jpg" class="config-product__image--large">

      <ul class="progress__bar">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

      <div class="width-40 match-height options-section padding--none options">

      <!--CATEGORIES-->
      <div class="options__container">
        <div class="options__background">
          <p class="options__title--large">Uw type raamdecoratie</p>
          <div class="grid__row">
          <?php
          $i = 0;
          foreach($this->getCategoryCollection() as $category):
          $cat = $this->getCategoryModel($category->getId());
          $i++;
          ?>

          <div class="width-33">
            <div class="individual--option" data-target="<?php echo $cat->getId(); ?>">
              <div class="options__image--container options__image--container-category">
                <img src="https://linnengordijnen.dev/media/wysiwyg/sfeer-linnen_153-naturel.jpg" alt="<?php echo $cat->getName(); ?>" class="options__image"/>
                <div class="options__image--overlay">
                  <i class="fa fa-check-circle options__image--check"></i>
                </div>
              </div>
              <p class="options__title"><?php echo $cat->getName(); ?></p>
            </div>
          </div>

          <?php if($i%3 == 0): ?>
          </div> <div class="grid__row">
          <?php endif; ?>
          <?php endforeach; ?>
          </div>
        </div>
        <div class="options__navigation">

          <div name="next" class="next action-div category-next">
            <p>Volgende Stap</p><i class="fa fa-chevron-right options__navigation--arrow"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  require(["jquery", "stepFlow"], function ($) {
    $(document).ready(function($){
      jQuery(document).ready(function(){
          jQuery(".category-next").on('click', function() {
              ajax();
          });
      });
    });
  });
  function ajax(){
    jQuery.ajax({
            url: '/getcategory/category/category',
            showLoader: true,
            data : {
              'selectedCategory' : jQuery('.selected-category').attr('data-target')
            },
            type: 'POST',
            dataType : 'json',
            encode : true,
    }).done(function(data) {
  });
  }
</script>
