// base styles

$selectize-font-family: inherit;
$selectize-font-smoothing: inherit;
$selectize-font-size: 13px;
$selectize-line-height: 18px;

$selectize-color-text: #343434;
$selectize-color-border: #e5e5e5;
$selectize-color-highlight: rgba(125,168,208,0.2);
$selectize-color-input: #fff;
$selectize-color-input-full: $selectize-color-input;
$selectize-color-disabled: #fafafa;
$selectize-color-item: #343434;
$selectize-color-item-text: $selectize-color-text;
$selectize-color-item-border: #d0d0d0;
$selectize-color-item-active: #e8e8e8;
$selectize-color-item-active-text: $selectize-color-text;
$selectize-color-item-active-border: #cacaca;
$selectize-color-dropdown: #fff;
$selectize-color-dropdown-border: $selectize-color-border;
$selectize-color-dropdown-border-top: #f0f0f0;
$selectize-color-dropdown-item-active: #f5fafd;
$selectize-color-dropdown-item-active-text: #495c68;
$selectize-color-dropdown-item-create-text: rgba(red($selectize-color-text), green($selectize-color-text), blue($selectize-color-text), 0.5);
$selectize-color-dropdown-item-create-active-text: $selectize-color-dropdown-item-active-text;
$selectize-color-optgroup: $selectize-color-dropdown;
$selectize-color-optgroup-text: $selectize-color-text;
$selectize-lighten-disabled-item: 30%;
$selectize-lighten-disabled-item-text: 30%;
$selectize-lighten-disabled-item-border: 30%;
$selectize-opacity-disabled: 0.5;

$selectize-shadow-input: inset 0 1px 1px rgba(0,0,0,0.1);
$selectize-shadow-input-focus: inset 0 1px 2px rgba(0,0,0,0.15);
$selectize-border: 1px solid $selectize-color-border;
$selectize-dropdown-border: 1px solid $selectize-color-dropdown-border;
$selectize-border-radius: 4px;

$selectize-width-item-border: 0;
$selectize-max-height-dropdown: 200px;

$selectize-padding-x: 16px;
$selectize-padding-y: 8px;
$selectize-padding-item-x: 6px;
$selectize-padding-item-y: 2px;
$selectize-padding-dropdown-item-x: $selectize-padding-x;
$selectize-padding-dropdown-item-y: 8px;
$selectize-margin-item-x: 3px;
$selectize-margin-item-y: 3px;

$selectize-arrow-size: 5px;
$selectize-arrow-color: #808080;
$selectize-arrow-offset: 15px;

$selectize-caret-margin: 0 2px 0 0;
$selectize-caret-margin-rtl: 0 4px 0 -2px;

@mixin selectize-border-radius($radii){
	-webkit-border-radius: $radii;
	-moz-border-radius: $radii;
	border-radius: $radii;
}
@mixin selectize-unselectable(){
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin selectize-box-sizing($type: border-box){
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}

.selectize-control {
	position: relative;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
	color: $selectize-color-text;
	font-family: $selectize-font-family;
	font-size: $selectize-font-size;
	line-height: $selectize-line-height;
	-webkit-font-smoothing: $selectize-font-smoothing;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
	background: $selectize-color-input;
	cursor: text;
	display: inline-block;
}

.selectize-input {
	border: $selectize-border;
	/*padding: $selectize-padding-y $selectize-padding-x;*/
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	@include selectize-box-sizing(border-box);
	@include selectize-border-radius($selectize-border-radius);

	.selectize-control.multi &.has-items {
		$padding-x: $selectize-padding-x;
		$padding-top: $selectize-padding-y - $selectize-padding-item-y - $selectize-width-item-border;
		$padding-bottom: $selectize-padding-y - $selectize-padding-item-y - $selectize-margin-item-y - $selectize-width-item-border;
		padding: $padding-top $padding-x $padding-bottom;
	}

	&.full {
		background-color: $selectize-color-input-full;
	}
	&.disabled, &.disabled * {
		cursor: default !important;
	}
	&.dropdown-active {
		@include selectize-border-radius($selectize-border-radius $selectize-border-radius 0 0);
	}

	> * {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	.selectize-control.multi & > div {
		cursor: pointer;
		margin: 0 $selectize-margin-item-x $selectize-margin-item-y 0;
		padding: $selectize-padding-item-y $selectize-padding-item-x;
		background: $selectize-color-item;
		color: $selectize-color-item-text;
		border: $selectize-width-item-border solid $selectize-color-item-border;

		&.active {
			background: $selectize-color-item-active;
			color: $selectize-color-item-active-text;
			border: $selectize-width-item-border solid $selectize-color-item-active-border;
		}
	}
	.selectize-control.multi &.disabled > div {
		&, &.active {
			color: lighten(desaturate($selectize-color-item-text, 100%), $selectize-lighten-disabled-item-text);
			background: lighten(desaturate($selectize-color-item, 100%), $selectize-lighten-disabled-item);
			border: $selectize-width-item-border solid lighten(desaturate($selectize-color-item-border, 100%), $selectize-lighten-disabled-item-border);
		}
	}
	input {
		&::-ms-clear {
			display: none;
		}
		display: inline-block !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: $selectize-caret-margin !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		-webkit-user-select: auto !important;
		&:focus { outline: none !important; }
	}
    .item + input {
      display: none !important;
    }
}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left;
}

/*.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: $selectize-color-dropdown-border-top;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}*/

.selectize-dropdown {
	position: absolute;
	z-index: 10;
	border: $selectize-dropdown-border;
	background: $selectize-color-dropdown;
	margin: -1px 0 0 0;
	border-top: 0 none;
	@include selectize-box-sizing(border-box);
	@include selectize-border-radius(0 0 $selectize-border-radius $selectize-border-radius);

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight {
			background: $selectize-color-highlight;
			@include selectize-border-radius(1px);
		}
	}
	[data-selectable], .optgroup-header {
		padding: $selectize-padding-dropdown-item-y $selectize-padding-dropdown-item-x;
	}
	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	.optgroup-header {
		color: $selectize-color-optgroup-text;
		background: $selectize-color-optgroup;
		cursor: default;
	}
	.active {
		background-color: $selectize-color-dropdown-item-active;
		color: $selectize-color-dropdown-item-active-text;
		&.create {
			color: $selectize-color-dropdown-item-create-active-text;
		}
	}
	.create {
		color: $selectize-color-dropdown-item-create-text;
	}
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: $selectize-max-height-dropdown;
	-webkit-overflow-scrolling: touch;
}

.selectize-control.single .selectize-input {
	&, input { cursor: pointer; }
	&.input-active, &.input-active input { cursor: text; }

	&:after {
		font-family: 'FontAwesome';
		content: '\f107';
		position: absolute;
		color: #343434;
		font-size: 14px;
		right: 16px;
		line-height: 1;
		top: calc(50% - 15x);
	}
	&.dropdown-active:after {
		/*margin-top: $selectize-arrow-size * -0.8;
		border-width: 0 $selectize-arrow-size $selectize-arrow-size $selectize-arrow-size;
		border-color: transparent transparent $selectize-arrow-color transparent;*/
	}
}

.selectize-control.rtl {
	&.single .selectize-input:after {
		left: $selectize-arrow-offset;
		right: auto;
	}
	.selectize-input > input {
		margin: $selectize-caret-margin-rtl !important;
	}
}

.selectize-control .selectize-input.disabled {
	opacity: $selectize-opacity-disabled;
	background-color: $selectize-color-disabled;
}
.iwd_main_wrapper {
	.field {
		.input-text._has-datepicker {
			width: 53%;
		}
	}
}
._has-datepicker~.ui-datepicker-trigger {
	margin-left: -3rem;
}


$selectize-color-item: #1da7ee;
$selectize-color-item-text: #fff;
$selectize-color-item-active-text: #fff;
$selectize-color-item-border: #0073bb;
$selectize-color-item-active: #92c836;
$selectize-color-item-active-border: #00578d;
$selectize-width-item-border: 1px;
$selectize-caret-margin: 0 1px;

$iwd-selectize-element-min-height: 35px;
$iwd-selectize-inner-element-min-height: 37px;

.selectize-control {
 &.multi {
   .selectize-input {
     &.has-items {
       $padding-x: $selectize-padding-x - 3px;
       padding-left: $padding-x;
       padding-right: $padding-x;
     }
     &.disabled [data-value] {
       color: #999;
       text-shadow: none;
       background: none;

       &, .remove {
         border-color: #e6e6e6;
       }
       .remove {
         background: none;
       }
     }
     [data-value] {
       text-shadow: 0 1px 0 rgba(0,51,83,0.3);
       @include selectize-border-radius($selectize-border-radius);
       &.active {
       }
     }
   }
 }
 &.single {
   .selectize-input {
     min-height: $iwd-selectize-element-min-height;
     padding-right: 20px;

     input {
       min-height: $iwd-selectize-inner-element-min-height;

       &:focus {
         outline: none;
         box-shadow: none;
       }
     }

     &.has-items input {
       padding-left: 0;
     }

     &:not(.has-items) input {
       width: 100% !important;
     }
   }

   .item {
     min-height: $iwd-selectize-inner-element-min-height;
     padding: $selectize-padding-y 0 $selectize-padding-y $selectize-padding-x;
   }
 }
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
 border-color: #e5e5e5;
}

._error {
 .selectize-control.single .selectize-input, .selectize-dropdown.single {
   border-color: #e02b27;
 }
}

.selectize-dropdown {
 .optgroup-header {
   padding-top: $selectize-padding-dropdown-item-y + 2px;
   font-weight: bold;
   font-size: 0.85em;
 }
 .optgroup {
   border-top: 1px solid $selectize-color-dropdown-border-top;
   &:first-child {
     border-top: 0 none;
   }
 }
}

.selectize_hide_input {
 opacity: 0 !important;
 position: absolute !important;
 left: -10000px !important;
}

.form.methods-shipping input.input-text {
 height: 37px !important;
}

#iwd_opc_shipping_method {
 width: 100%;
 min-height: 37px;
}

.iwd_main_wrapper .selectize-control + .iwd_opc_field_tooltip.iwd_opc_cvv_tooltip {
 right: -25px;
}

$button-primary__background: #85A286;
$button-primary__hover__background: darken(#85A286, 10%);
$button__disabled__opacity: darken(#85A286, 10%);
$active_color: $button-primary__background;
$active_color_hover: $button-primary__hover__background;
$disabled_opacity: $button__disabled__opacity;
$error_color: $form-validation-note__color-error;
$focus_color: $focus__color;

$title_color: #343434;
$general_color: #676767;
$border_color: #E5E5E5;
$sub_color: #999999;

//$active_color: blue;
//$active_color_hover: darkblue;
//$disabled_opacity: 0.4;
//$error_color: yellow;
//$focus_color: red;
//
//$title_color: black;
//$general_color: pink;
//$border_color: grey;
//$sub_color: lightblue;

$loader_color_adjust-huener: $sub_color;
$loader_color_adjust-huener_background: fade($border_color, 40%);

$font_family_awesome: 'FontAwesome';
$default_border_radius: 4px;

$default_padding_top: 8px;
$default_padding_right: 16px;
$default_padding_bottom: 8px;
$default_padding_left: 16px;

$default_margin: 20px;
$default_margin_section: 24px;

$column_max_width: 368px;
$column_min_width: 288px;
$column_padding: $default_margin_section * 2;
$breakpoint_width: (($column_min_width * 3) + ($column_padding * 3));

.padding-default {
  padding-top: $default_padding_top;
  padding-right: $default_padding_right;
  padding-bottom: $default_padding_bottom;
  padding-left: $default_padding_left;
}



$column_max_width_virtual: 590px;

.iwd_main_wrapper {
  width: 100%;
  position: relative;
  margin: $column_padding 0 0 0;
  display: inline-block;
  color: $general_color;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  * {
    box-sizing: border-box;
  }
  .iwd_opc_column_name {
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: $title_color;
    margin-bottom: $default_margin_section;
  }
  .iwd_opc_alternative_wrapper {
    position: relative;
    .iwd_opc_two_column_wrapper {
      .iwd_opc_column {
        &:first-child {
          padding-right: $column_padding - ($column_padding/2);
        }
        &:last-child {
          float: right;
          padding-left: $column_padding - ($column_padding/2);
          .iwd_opc_alternative_column {
            float: right;
          }
        }
      }
    }
    .iwd_opc_alternative_column {
      max-width: $column_max_width;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      .iwd_opc_column_content, .iwd_opc_column {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .iwd_opc_collapsible_container {
    line-height: 19px;
    &.iwd_opc_collapsible_opened {
      .iwd_opc_collapsible_title {
        &:after {
          content: '\f106';
        }
      }
    }
    .iwd_opc_collapsible_title {
      color: $active_color;
      cursor: pointer;
      border-radius: $default_border_radius;
      display: block;
      &:after {
        font-family: $font_family_awesome;
        content: '\f107';
        padding-left: $default_padding_left/4;
      }
      &:hover {
        color: $active_color_hover;
      }
    }
    .iwd_opc_collapsible_content {
      .iwd_opc_collapsible_content_scrollable {
        border: 1px solid $border_color;
        overflow-wrap: break-word;
        padding-top: $default_padding_top;
        padding-right: $default_padding_right;
        padding-bottom: $default_padding_bottom;
        padding-left: $default_padding_left;
        max-height: 140px;
        font-size: 12px;
        line-height: 17px;
        width: 100%;
        border-radius: 4px;
        &:focus {
          box-shadow: 0 0 3px 1px $focus_color;
        }
      }
    }
  }

  .iwd_opc_clear {
    clear: both;
  }

  .iwd_opc_section_delimiter {
    height: 1px;
    background: $border_color;
    width: calc(100% - ($default_margin*2));
    margin: $default_margin_section auto $default_margin_section auto;
  }

  .iwd_opc_universal_wrapper {
    margin-bottom: $default_margin;
    position: relative;
    width: 100%;
    &.iwd_opc_message {
      font-size: 12px;
      text-align: center;
      line-height: 17px;
      padding: 0 $default_padding_right 0 $default_padding_left;
      cursor: pointer;
      .iwd_opc_message_success {
        color: $active_color;
      }
      .iwd_opc_message_error {
        color: $error_color;
      }
    }
  }
  .iwd_opc_short_fields {
    display: flex;
    .iwd_opc_universal_wrapper {
      display: block;
      margin: 0;
      box-sizing: border-box;
      width: 50%;
      float: left;
      &:first-child {
        padding-right: calc($default_padding_right / 2);
      }
      &:last-child {
        padding-left: calc($default_padding_left / 2);
      }
    }
  }
  .iwd_opc_field, .field {
    select {
      /*margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      opacity: 0;
      z-index: -1;*/
      &.mage-error ~ .scroll-wrapper, &.mage-error ~ .iwd_opc_select_container {
        border-color: $error_color;
      }
    }
    .scroll-wrapper .scroll-content {
      border: none;
    }
    .scroll-wrapper, .iwd_opc_select_container {
      &[data-element-id="iwd_opc_shipping_method_group"], &[data-element-id="iwd_opc_shipping_method_rates"] {
        max-height: 368px;
      }
      border: 1px solid $border_color;
      outline: none;
      border-radius: $default_border_radius;
      width: 100%;
      max-height: 184px;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &.selected {
        .iwd_opc_select_option {
          display: none;
          border-bottom: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          &.selected {
            display: block;
            background-color: inherit;
            padding-right: calc($default_padding_right + 18px);
            &[data-value=''] {
              color: $general_color;
            }
          }
          &:after {
            font-family: $font_family_awesome;
            content: '\f107';
            position: absolute;
            color: $title_color;
            font-size: 14px;
            right: $default_padding_right;
            line-height: 1;
            top: calc(50% - 7px);
          }
          &:hover {
            background-color: inherit;
          }
        }
      }
      &.disabled {
        cursor: default;
        .iwd_opc_select_option, .iwd_opc_select_option.selected {
          opacity: $disabled_opacity;
          color: $general_color;
          &[data-value=''] {
            color: $general_color;
          }
        }
        &:focus {
          box-shadow: none;
        }
      }
      .iwd_opc_select_option {
        padding-top: $default_padding_top;
        padding-right: $default_padding_right;
        padding-bottom: $default_padding_bottom;
        padding-left: $default_padding_left;
        color: $title_color;
        font-size: 14px;
        line-height: 19px;
        border-bottom: 1px solid fade($border_color, 40%);
        overflow: hidden;
        box-sizing: border-box;
        text-align: left;
        &.selected, &:hover {
          background-color: fade($border_color, 40%);
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &:focus {
        box-shadow: 0 0 3px 1px $focus_color;
      }
    }
    &:not(.choice) {
      label, label.label,
      legend.label,
      .label {
        display: none;
      }
    }
    &.iwd_opc_input,
    .input-text,
    textarea,
    .iwd_opc_hosted_field,
    &.iwd_opc_textarea {
      background: inherit;
      border-radius: $default_border_radius;
      border: 1px solid $border_color;
      padding-top: $default_padding_top;
      padding-right: $default_padding_right;
      padding-bottom: $default_padding_bottom;
      padding-left: $default_padding_left;
      font-size: 14px;
      line-height: 19px;
      outline: none;
      height: 37px;
      width: 100%;
      color: $title_color;
      &:focus {
        box-shadow: 0 0 3px 1px $focus_color;
      }
      &:invalid, &:-moz-ui-invalid {
        outline: none;
      }
      &::-moz-placeholder {
        color: $general_color;
        opacity: 1;
        transition: opacity 0.3s ease;
      }
      &:-moz-placeholder {
        color: $general_color;
        opacity: 1;
        transition: opacity 0.3s ease;
      }
      &:-ms-input-placeholder {
        color: $general_color;
        opacity: 1;
        transition: opacity 0.3s ease;
      }
      &::-webkit-input-placeholder {
        opacity: 1;
        transition: opacity 0.3s ease;
        color: $general_color;
      }
      &:disabled, &[readonly] {
        opacity: $disabled_opacity;
        pointer-events: none;
      }
      &.mage-error {
        border-color: $error_color;
      }
    }
    .iwd_opc_hosted_field {
      height: 37px;
      &.braintree-hosted-fields-focused {
        box-shadow: 0 0 3px 1px $focus_color;
      }
      &.braintree-hosted-fields-invalid {
        border-color: $error_color;
      }
    }
    &.iwd_opc_textarea,
    textarea {
      max-width: 100%;
      overflow: hidden;
      //line-height: inherit;
      resize: none;
      vertical-align: top;
      //display: block;
    }
    &[type="password"]:not(:placeholder-shown) {
      font-size: 34px;
      line-height: 19px;
      height: 37px;
      letter-spacing: -1px;
    }
  }
  .fieldset {
    margin: 0;
    padding: 0;
    .field {
      padding: 0;
      margin: 0 0 $default_margin 0;
      &.choice {
        position: relative;
        input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: -1;
          &:focus ~ label:before {
            box-shadow: 0 0 3px 1px $focus_color;
          }
          &:checked ~ label:before {
            background: $active_color;
          }
          &.mage-error ~ label {
            &:before {
              border-color: $error_color;
            }
          }
          & ~ label {
            cursor: pointer;
            font-size: 14px;
            line-height: 19px;
            position: relative;
            display: block;
            padding-left: 14px + 12px;
            &:before {
              content: '';
              font-family: $font_family_awesome;
              width: 12px;
              height: 12px;
              border-radius: $default_border_radius;
              border: 1px solid $active_color;
              display: inline-block;
              position: absolute;
              left: 0;
              top: 2px;
              text-align: center;
            }
          }
        }
      }
      .control {
        position: relative;
        .message.warning {
          display: none;
        }
      }
      ._with-tooltip {
        .input-text {
          width: 100%;
          margin: 0;
        }
      }
      .field-tooltip {
        display: none;
      }
      &._error, &._warn {
        .control {
          input, textarea, .scroll-wrapper, .iwd_opc_select_container {
            border-color: $error_color;
          }
        }
      }
      &.additional {
        margin-bottom: $default_margin/2;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  div.mage-error[generated] {
    display: none !important;
  }

  .iwd_opc_show_hide_password {
    font-family: $font_family_awesome;
    color: $active_color;
    font-size: 14px;
    position: absolute;
    width: 15px;
    height: 15px;
    display: inline-block;
    right: $default_padding_right + 2px;
    top: 11px;
    line-height: 1;
    cursor: pointer;
    &.active {
      &:after {
        content: "\f070";
      }
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "\f06e";
    }
    &:hover {
      color: $active_color_hover;
    }
  }

  .iwd_opc_collapsible_opened {
    .with_angle:after {
      content: '\f106' !important;
    }
  }

  button.iwd_opc_small_button,
  a.iwd_opc_small_button,
  div.iwd_opc_small_button,
  a.iwd_opc_button,
  div.iwd_opc_button,
  button.iwd_opc_button {
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    line-height: 19px;
    box-shadow: none;
    font-size: 14px;
    text-align: center;
    border-radius: $default_border_radius;
    width: 100%;
    padding-top: $default_padding_top;
    padding-right: $default_padding_right;
    padding-bottom: $default_padding_bottom;
    padding-left: $default_padding_left;
    outline: none;
    margin: 0;
    background: #fff;
    border: 1px solid $general_color;
    color: $general_color;
    cursor: pointer;
    position: relative;
    &.with_angle:after {
      font-family: $font_family_awesome;
      font-size: 14px;
      position: absolute;
      right: $default_padding_right;
    }
    &.with_angle.opened:after {
      content: '\f106';
    }
    &.with_angle:after {
      content: '\f107';
    }
    &:focus, &:active, &:hover {
      box-shadow: none;
      color: $title_color;
      border-color: $title_color;
      text-decoration: none;
    }
    &:disabled {
      opacity: $disabled_opacity;
      cursor: default;
    }
    &.active {
      color: $active_color;
      border-color: $active_color;
      &:hover, &:focus, &:active {
        color: $active_color_hover;
        border-color: $active_color_hover;
      }
    }
  }

  button.iwd_opc_small_button,
  div.iwd_opc_small_button,
  a.iwd_opc_small_button,
  div.iwd_opc_small_button {
    padding-right: $default_padding_right/2;
    padding-left: $default_padding_left/2;
    display: block;
    box-sizing: border-box;
    width: 48%;
    overflow: hidden;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }

  .iwd_opc_small_button_container {
    overflow: hidden;
  }

  .loading-mask {
    .loader {
      width: 71px !important;
      height: 71px !important;;
    }
  }

  .iwd_opc_field_tooltip {
    position: absolute;
    cursor: pointer;
    top: $default_padding_top + 1px;
    right: $default_padding_right + 1px;
    line-height: 19px;
    &:hover {
      .iwd_opc_field_tooltip_content {
        display: block;
      }
    }
    &:after {
      content: attr(data-icon);
      font-size: 14px;
      line-height: 14px;
      font-family: $font_family_awesome;
    }
    .iwd_opc_field_tooltip_content {
      box-shadow: 0 4px 8px 0 fade($title_color, 20%);
      background: #fff;
      width: 197px;
      padding-top: $default_padding_top;
      padding-right: $default_padding_right;
      padding-bottom: $default_padding_bottom;
      padding-left: $default_padding_left;
      z-index: 100;
      display: none;
      position: absolute;
      text-align: left;
      line-height: 17px;
      font-size: 12px;
      right: 100%;
      margin-right: 14px;
      border-radius: $default_border_radius;
      &:after {
        left: calc(100% - 12px);
        top: calc(50% - 6px);
        content: " ";
        height: 24px;
        width: 12px;
        position: absolute;
        background: #fff;
      }
      &:before {
        box-shadow: 1px 1px 8px 0 fade($title_color, 20%);
        content: '';
        position: absolute;
        left: calc(100% - 6px);
        top: 50%;
        width: 12px;
        height: 12px;
        background: #fff;
        transform: rotate(45deg);
        z-index: -1;
      }
    }
  }
  //.control .scroll-wrapper{
  //  border-radius: $default_border_radius;
  //  border: 1px solid $border_color;
  //}
  .scroll-wrapper {
    overflow: hidden;
    padding: 0;
    position: relative;
    outline: none;
    margin: 0;
    //&.focused, &:focus {
    //  box-shadow: 0 0 3px 1px $focus_color;
    //}
    //.iwd_opc_select_container:focus {
    //  box-shadow: none;
    //}
    .scroll-content {
      outline: none;
      //border: none !important;
      //box-sizing: content-box !important;
      height: auto;
      left: 0;
      //margin: 0;
      max-width: none !important;
      overflow-y: scroll !important;
      //padding: 0;
      position: relative !important;
      top: 0;
      width: auto !important;
      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
      &.scroll-scrolly_visible:not(.selected) {
        ~ .scroll-y.scroll-scrolly_visible {
          display: block;
        }
      }
    }
    .scroll-element {
      display: none;
      box-sizing: content-box;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
      div {
        box-sizing: content-box;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }
      &.scroll-y {
        height: 100%;
        min-height: 100%;
        right: 0;
        top: 0;
        width: 0;
        &.scroll-scrolly_visible {
          //display: block;
          .scroll-element_outer {
            display: block;
            height: 100%;
            left: 0;
            width: 100%;
            top: 8px;
            .scroll-element_size {
              top: -16px;
            }
            .scroll-element_track {
              display: none;
            }
            .scroll-bar {
              left: -16px;
              min-height: 80px;
              width: 8px;
              cursor: default;
              background-color: $title_color;
              opacity: 0.4;
              display: block;
              border-radius: $default_border_radius;
              -webkit-transition: opacity 0.1s linear;
              -moz-transition: opacity 0.1s linear;
              -o-transition: opacity 0.1s linear;
              transition: opacity 0.1s linear;
              &:hover, &:active {
                background-color: $title_color;
              }
            }
          }
        }
      }
    }
  }
  .iwd-group {
    width: 100%;
  }
}

.onepage-index-index, .iwd_opc_success_page {
  .loading-mask {
    background: rgba(255, 255, 255, 0.4);
    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100001;
      margin: auto;
      border-top: 11px solid $loader_color_adjust-huener_background;
      border-right: 11px solid $loader_color_adjust-huener_background;
      border-bottom: 11px solid $loader_color_adjust-huener_background;
      border-left: 11px solid $loader_color_adjust-huener;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
      border-radius: 50%;
      width: 49px;
      height: 49px;
      @-webkit-keyframes load8 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes load8 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      img {
        display: none;
      }
    }
  }
}

.iwd_success_page_wrapper {
  .iwd_opc_alternative_wrapper {
    .iwd_opc_success_page_column {
      .iwd_opc_alternative_column {
        margin: 0 auto;
        .iwd_success_page_info, .iwd_opc_success_page_create_account_info {
          padding: 0 $default_margin_section 0 $default_margin_section;
          text-align: center;
          a {
            color: $active_color;
            &:hover {
              color: $active_color_hover;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.iwd_empty_cart_wrapper {
  .iwd_opc_alternative_wrapper {
    .iwd_opc_empty_cart_column {
      .iwd_opc_alternative_column {
        margin: 0 auto;
        .iwd_opc_empty_cart_info {
          padding: 0 $default_margin_section 0 $default_margin_section;
          text-align: center;
        }
        .iwd_empty_cart_powered_by {
          text-align: center;
          margin-bottom: 0;
          a {
            color: $active_color;
            &:hover {
              color: $active_color_hover;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.iwd_opc_wrapper {
  #iwd_opc_powered_by_logo {
    overflow: hidden;
    a {
      float: right;
      display: inline-block;
      img {
        width: 69px;
      }
    }
  }
  .iwd_opc_alternative_wrapper {
    > .iwd_opc_two_column_wrapper:first-child {
      .iwd_opc_column {
        width: 50%;
        .iwd_opc_alternative_column {
          max-width: $column_max_width_virtual;
          @media (max-width: $column_max_width) {
            max-width: $column_min_width;
          }
        }
      }
    }
    .iwd_opc_column {
      float: left;
      &.iwd_opc_iframe_payment_column {
        width: 100%;
        float: none;
        .iwd_opc_alternative_column {
          margin: 0 auto;
          max-width: $column_max_width_virtual;
          .iwd_opc_column_name {
            color: $active_color;
            line-height: 18px;
            cursor: pointer;
            &:hover {
              color: $active_color_hover;
            }
            &:before {
              font-family: $font_family_awesome;
              color: $general_color;
              content: '\f104';
              margin-right: 10px;
            }
          }
          .iwd_opc_column_content {
            text-align: center;
            margin: 0 auto;
          }
        }
      }
      &.iwd_opc_address_column {
        padding-right: $column_padding - ($column_padding/2);
        .iwd_opc_alternative_column {
          float: left;
        }
      }
      &.iwd_opc_shipping_column {
        padding: 0 $column_padding/2;
        .iwd_opc_alternative_column {
          margin: 0 auto;
          float: none;
        }
      }
      &.iwd_opc_payment_column {
        padding-left: $column_padding - ($column_padding/2);
        margin-bottom: 0 !important;
        .iwd_opc_alternative_column {
          float: right;
          .loading-mask {
            overflow: hidden;
          }
        }
        .checkout-agreement {
          div.mage-error[generated] {
            display: block !important;
          }
        }
      }
    }
  }
  .iwd_opc_alternative_wrapper {
    .iwd_opc_general_errors {
      cursor: pointer;
      .message.error, .message.success {
        margin-bottom: $default_margin;
      }
    }
    .iwd_opc_column {

      position: relative;
      float: left;

      .iwd_opc_alternative_column {
        max-width: inherit;
      }
      &.iwd_opc_address_column {
        padding-right: $column_padding - ($column_padding/2);
        .iwd_opc_alternative_column {
          float: left;
        }
      }
      &.iwd_opc_shipping_column {
        padding: 0 $column_padding/2;

        .iwd_opc_alternative_column {
          margin: 0 auto;
          float: none;
        }
      }
      &.iwd_opc_payment_column {
        padding-left: $column_padding - ($column_padding/2);
        margin-bottom: 0 !important;
        .iwd_opc_alternative_column {
          float: right;
        }
      }
      .iwd_opc_alternative_column {
        margin: 0 auto !important;
        float: none !important;
        max-width: $column_max_width;
      };
      @media (max-width: $column_max_width) {
        .iwd_opc_alternative_column {
          max-width: $column_min_width;
        }
      }
    }
    .iwd_opc_additional_payment_info {
      font-size: 12px;
      line-height: 21px;
      padding-left: $default_padding_left;
      padding-right: $default_padding_right;
      .iwd_opc_additional_payment_label {
        display: inline;
        padding-right: $default_padding_right/4;
      }
      .iwd_opc_additional_payment_value {
        display: inline;
        font-weight: bold;
      }
    }
    .iwd_opc_field_tooltip {
      &.iwd_opc_shipping_method_tooltip, &.iwd_opc_payment_method_tooltip {
        .iwd_opc_field_tooltip_content {
          top: -30px;
          &:after {
            top: calc(34px - 6px);
          }
          &:before {
            top: 34px;
          }
        }
      }
      &.iwd_opc_payment_method_tooltip_virtual {
        .iwd_opc_field_tooltip_content {
          top: -7px;
          &:after {
            top: calc(11px - 6px);
          }
          &:before {
            top: 11px;
          }
        }
      }
      &.iwd_opc_cvv_tooltip {
        .iwd_opc_field_tooltip_content {
          top: -24px;
          &:after {
            top: calc(28px - 6px);
          }
          &:before {
            top: 28px;
          }
        }
      }
      &.iwd_opc_cc_tooltip {
        .iwd_opc_field_tooltip_content {
          top: -38px;
          &:after {
            top: calc(42px - 6px);
          }
          &:before {
            top: 42px;
          }
        }
      }
    }
    #iwd_opc_top {
      margin-bottom: $default_margin_section*2;
      display: inline-block;
       .iwd_opc_column {
        margin-bottom: $default_margin_section;
      }
      #iwd_opc_review {
        .iwd_opc_review_grand_total_tax {
          color: $sub_color;
          display: inline;
        }
        #iwd_opc_review_items_totals {
          margin-top: $default_margin;
          background: #fff;
          border-radius: $default_border_radius;
          position: absolute;
          width: 100%;
          z-index: 101;
          box-shadow: 0 4px 8px 0 rgba(52, 52, 52, 0.2);
          //@include padding-default;
          padding: $default_padding_top 0 $default_padding_bottom 0;
          color: $title_color;
          #iwd_opc_top_review_items_wrapper {
            max-height: 500px;
          }
          #iwd_opc_review_items {
            display: table;
            position: relative;
            width: 100%;
            background: #fff;
            //margin-bottom: $default_padding_top*2;
            padding: 0 $default_padding_left 0 $default_padding_right;
            .iwd_opc_review_item {
              display: table-row;
              &:first-child {
                .iwd_opc_review_item_cell {
                  padding-top: $default_padding_top;
                }
              }
              .iwd_opc_review_item_cell {
                display: table-cell;
                text-align: right;
                line-height: 21px;
                width: 40%;
                padding-bottom: $default_padding_bottom;
                border-bottom: 1px solid $border_color;
                padding-top: $default_padding_top*2;
                padding-left: $default_margin_section/2;
                &:first-child {
                  text-align: left;
                  width: 60%;
                  padding-right: $default_margin_section/2;
                  padding-left: 0
                }
                .iwd_opc_review_item_name {
                  padding-bottom: $default_padding_bottom;
                  font-weight: 600;
                  line-height: 21px;
                }
                .iwd_opc_review_item_subtotal {
                  padding-bottom: $default_padding_bottom;
                  &:before {
                    padding-right: $default_padding_right/2;
                    color: $sub_color;
                    content: attr(data-item-tax);
                  }
                  &:first-child:before {
                    content: attr(data-item-qty);
                  }
                }
                .iwd_opc_review_item_options {
                  font-size: 12px;
                  .iwd_opc_review_item_option {
                    padding-bottom: $default_padding_bottom;
                    .iwd_opc_review_item_option_label {
                      display: inline;
                      word-wrap: break-word;
                      word-break: break-word;
                    }
                    .iwd_opc_review_item_option_value {
                      color: $sub_color;
                      display: inline;
                      word-wrap: break-word;
                      word-break: break-word;
                      a {
                        color: $active_color;
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
          #iwd_opc_review_totals {
            display: table;
            position: relative;
            width: 100%;
            background: #fff;
            font-weight: 600;
            margin-top: $default_padding_top*2;
            padding: 0 $default_padding_left 0 $default_padding_right;
            .iwd_opc_review_total {
              display: table-row;
              &.iwd_opc_review_total_tax {
                color: $sub_color;
              }
              .iwd_opc_review_total_cell {
                padding-bottom: $default_padding_bottom;
                display: table-cell;
                width: 68%;
                line-height: 21px;
                &:last-child {
                  width: 38%;
                  text-align: right;
                }
              }
              &.iwd_opc_grand_total {
                .iwd_opc_review_total_cell {
                  color: $active_color;
                }
              }
            }
          }
        }
      }
    }
    #checkout-payment-method-load {
      .iwd_opc_cc_wrapper {
        position: relative;
        &:before {
          position: absolute;
          border-radius: $default_border_radius;
          display: inline-block;
          line-height: 1;
          width: 42px;
          height: 26px;
          background-image: url('../IWD_Opc/images/icons1x.png');
        }
        &[data-cc-type="AE"], &[data-cc-type="AMEX"] {
          &:before {
            content: '';
            background-position: -199px -19px;
          }
        }
        &[data-cc-type="VI"], &[data-cc-type="VISA"], &[data-cc-type="DELTA"], &[data-cc-type="UKE"] {
          &:before {
            content: '';
            background-position: -19px -19px;
          }
        }
        &[data-cc-type="MC"], &[data-cc-type="MCDEBIT"] {
          &:before {
            content: '';
            background-position: -79px -19px;
          }
        }
        &[data-cc-type="DI"], &[data-cc-type="DC"] {
          &:before {
            content: '';
            background-position: -139px -19px;
          }
        }
        &[data-cc-type="DICL"], &[data-cc-type="DN"] {
          &:before {
            content: '';
            background-position: -139px -63px;
          }
        }
        &[data-cc-type="CUP"] {
          &:before {
            content: '';
            background-position: -199px -63px;
          }
        }
        &[data-cc-type="SO"], &[data-cc-type="SOLO"] {
          &:before {
            content: '';
            background-position: -139px -107px;
          }
        }
        &[data-cc-type="ME"], &[data-cc-type="MAESTRO"], &[data-cc-type="MI"], &[data-cc-type="MD"] {
          &:before {
            content: '';
            background-position: -19px -63px;
          }
        }
        &[data-cc-type="JCB"] {
          &:before {
            content: '';
            background-position: -259px -19px;
          }
        }
        &[data-cc-type="SM"], &[data-cc-type="SWITCH"] {
          &:before {
            content: '';
            background-position: -79px -107px;
          }
        }
        @media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
          &:before {
            background-image: url('../IWD_Opc/images/icons2x.png');
            background-size: 258px;
          }

          &[data-cc-type="AE"], &[data-cc-type="AMEX"] {
            &:before {
              content: '';
              background-position: -158px 136px;
            }
          }

          &[data-cc-type="VI"], &[data-cc-type="VISA"], &[data-cc-type="DELTA"], &[data-cc-type="UKE"] {
            &:before {
              content: '';
              background-position: -9px 136px;
            }
          }

          &[data-cc-type="MC"], &[data-cc-type="MCDEBIT"] {
            &:before {
              content: '';
              background-position: -58px 136px;
            }
          }

          &[data-cc-type="DI"], &[data-cc-type="DC"] {
            &:before {
              content: '';
              background-position: -108px 136px;
            }
          }

          &[data-cc-type="DICL"], &[data-cc-type="DN"] {
            &:before {
              content: '';
              background-position: -108px 102px;
            }
          }

          &[data-cc-type="CUP"] {
            &:before {
              content: '';
              background-position: -158px 102px;
            }
          }

          &[data-cc-type="SO"], &[data-cc-type="SOLO"] {
            &:before {
              content: '';
              background-position: -108px 69px;
            }
          }

          &[data-cc-type="ME"], &[data-cc-type="MAESTRO"], &[data-cc-type="MI"], &[data-cc-type="MD"] {
            &:before {
              content: '';
              background-position: -9px 102px;
            }
          }

          &[data-cc-type="JCB"] {
            &:before {
              content: '';
              background-position: -207px 136px;
            }
          }

          &[data-cc-type="SM"], &[data-cc-type="SWITCH"] {
            &:before {
              content: '';
              background-position: -58px 69px;
            }
          }
        }
      }
      .iwd_opc_field, .field {
        .iwd_opc_select_container {
          &.selected .iwd_opc_select_option {
            &.iwd_opc_cc_option_short, &.iwd_opc_cc_option_long {
              .iwd_opc_cc_preview, .iwd_opc_cc_types_tooltip {
                display: none;
              }
            }

            &.iwd_opc_option_with_image {
              padding-right: $default_padding_right + 40px + 5px + 18px;
              img.iwd_opc_option_image {
                display: none;
                right: $default_padding_right + 18px;
              }
            }
          }
          .iwd_opc_select_option {
            &.iwd_opc_option_with_image {
              padding-right: $default_padding_right + 40px + 5px;
              position: relative;
              img.iwd_opc_option_image {
                width: 40px;
                height: 24px;
                right: $default_padding_right + 1px;
                position: absolute;
                bottom: 0;
                margin: auto;
                top: 0;
              }
            }
          }
          &:not(.selected) {
            .iwd_opc_select_option {
              &.iwd_opc_cc_option_short, &.iwd_opc_cc_option_long {
                padding-right: $default_padding_right + 40px + 40px + 15px + 24px;
                position: relative;
                overflow: visible;
                .iwd_opc_cc_wrapper {
                  width: 42px;
                  height: 26px;
                  float: left;
                  margin-left: 5px;
                }
                .iwd_opc_cc_preview {
                  display: inline-block;
                  position: absolute;
                  top: 5px;
                  height: 26px;
                  right: $default_padding_right + 24px + 5px;
                }
                .iwd_opc_cc_types_tooltip {
                  top: 6px;
                  width: 24px;
                  height: 24px;
                  border-radius: $default_border_radius;
                  border: 1px solid $active_color;
                  .iwd_opc_field_tooltip_content {
                    width: 215px;
                    position: fixed;
                    &.iwd_opc_cc_tooltip_content_small {
                      &:before {
                        top: 16px;
                      }
                      &:after {
                        top: calc(16px - 6px);
                      }
                    }
                    &.iwd_opc_cc_tooltip_content_big {
                      &:before {
                        top: 31px;
                      }
                      &:after {
                        top: calc(31px - 6px);
                      }
                    }
                    .iwd_opc_cc_wrapper {
                      margin-top: 5px;
                      margin-left: 0;
                      margin-right: 5px;
                      &:nth-child(4n) {
                        margin-right: 0;
                      }
                      &:nth-child(-n+4) {
                        margin-top: 0;
                      }
                    }
                  }
                  &:hover {
                    &:after, &:before {
                      background: $active_color_hover;
                    }
                  }
                  &:after, &:before {
                    background: $active_color;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    border-radius: $default_border_radius;
                  }
                  &:after {
                    top: 10px;
                    left: 5px;
                    width: 12px;
                    height: 2px;
                  }
                  &:before {
                    top: 5px;
                    left: 10px;
                    content: '';
                    position: absolute;
                    height: 12px;
                    width: 2px;
                    background: $active_color;
                  }
                }
              }
              &.iwd_opc_cc_option_short {
                padding-right: $default_padding_right + 40px + 40px + 10px;
                .iwd_opc_cc_preview {
                  right: $default_padding_right + 1px;
                }
              }
            }
          }
        }
      }
      .payment-method {
        display: none;
        &._active {
          display: block;
        }
        .payment-method-title {
          display: none;
        }
        .payment-method-content {
          .iwd_opc_cc_wrapper {
            &:before {
              right: $default_padding_right;
              top: 5.5px;
            }
            &[data-https="1"] {
              &:before {
                right: $default_padding_right * 2.5;
              }
            }
          }
          iframe {
            display: block;
          }
          .iwd_opc_gateway_payment {
            height: 190px;
            background: url('../IWD_Opc/images/redirect.png') center center no-repeat;
            background-size: contain;
          }
          .iwd_opc_payment_instructions {
            .iwd_opc_payment_instructions_title {
              font-size: 14px;
              line-height: 21px;
              text-align: left;
            }
            .iwd_opc_payment_instructions_small {
              color: $general_color;
              text-align: left;
              max-width: 50%;
            }
            color: $active_color;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            padding: 0 $default_padding_right 0 $default_padding_left;
          }
          .actions-toolbar {
            display: none;
          }
        }
        .iwd_opc_hosted_label {
          display: block;
        }
      }
    }
    #iwd_opc_login {
      #iwd_opc_login_captcha {
        .iwd_opc_captcha_image {
          text-align: center;
        }
        .iwd_opc_captcha_reload_sensitive_container {
          font-size: 12px;
          line-height: 17px;
          text-align: center;
          .iwd_opc_case_sensitive_captcha {
            display: inline;
          }
          .iwd_opc_refresh_captcha_button {
            display: inline;
            cursor: pointer;
            color: $active_color;
            text-transform: capitalize;
            &:hover {
              color: $active_color_hover;
              text-decoration: underline;
            }
          }
        }
      }
    }
    #iwd_opc_gift_message {
      .iwd_opc_field, .field {
        .iwd_opc_select_container {
          .iwd_opc_select_option {
            img.iwd_opc_option_image {
              width: 19px;
              height: 19px;
              box-sizing: border-box;
              border: 1px solid $border_color;
              margin-left: $default_padding_left;
              border-radius: $default_border_radius;
            }
          }
        }
      }
    }
    .iwd_opc_field, .field {
      .iwd_opc_select_container {
        .iwd_opc_select_option {
          img.iwd_opc_option_image {
            float: right;
          }
        }
      }
    }
    button.iwd_opc_button.iwd_opc_place_order_button.active {
      color: #fff;
      background: $active_color;
      font-weight: 600;
      &:hover, &:focus, &:active {
        color: #fff;
        background: $active_color_hover;
      }
    }
  }
  #payment_form_iwd_authcim #iwd_authcim_cc_cid {
    max-width: inherit;
  }
}

.onepage-index-index {
  .nav-sections,
  .nav-toggle {
    display: none;
  }

  .logo {
    margin-left: 0;
  }
}

.iwd_opc_popup_wrapper {
  display: none;
  position: fixed;
  top: 0;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 105;
  width: 100%;
  height: 100%;

  &.active {
    display: block;
  }
  .iwd_opc_popup {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 34.6233%;
    padding: 0 $column_padding/2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
    max-height: 85%;
    //overflow: auto;
    .iwd_opc_popup_content {
      background: #fff;
      border-radius: $default_border_radius;
      outline: none;
      padding: $default_padding_right;
      //overflow: auto;
      box-shadow: 0 4px 8px 0 rgba(52, 52, 52, 0.2);
      max-width: $column_max_width;
      margin: 0 auto;
    }
  }
  .iwd_opc_popup_mask {
    position: relative;
    padding: inherit;
    width: 100%;
    height: 100%;
    background-color: fade(#000, $disabled_opacity * 100);
  }
}
.iwd_main_wrapper {
 .field {
   .input-text._has-datepicker {
     width: 53%;
   }
 }
}
._has-datepicker~.ui-datepicker-trigger {
 margin-left: -3rem;
}
#checkout-payment-method-load {
  .selectize-control.single {
    .selectize-dropdown.single {
      z-index: 9999;
    }
  }
}

//Firefox styles
@-moz-document url-prefix() {
  .iwd_main_wrapper .iwd_opc_field[type="password"]:not(:placeholder-shown) {
    font-size: 14px;
  }
}
