<?php if ($block->getErrors()):?>
	<strong>Error(s) occured:</strong>
	<?php foreach ($block->getErrors() as $error):?>
		<div><?php echo $error ?></div>
	<?php endforeach ?>
<?php else: ?>
	<p class="note">
		<span>Google Tag Manager Container ID ex.: 754831</span>
	</p>
	<br /><br />
	
	Container ID is NOT publicly visible. To obtain Container ID follow the steps below:
	<div style="margin:10px 0px 10px 0px; color:#ababab; font-size:12px; line-height:18px;">
		1. Login to Google by clicking the blue "Sign in to Google" button shown above<br />
		2. Enter your Google Tag Manager Account ID above<br />
		3. Click "Save config" <br />
		4. You will see a list of your containers and their corresponding ID's<br />
	</div>
<?php endif ?>