<p>EUROPA websites must follow the Commission's guidelines on <a href="http://ec.europa.eu/ipg/basics/legal/data_protection/index_en.htm" target="_blank">privacy and data protection</a> and inform users that cookies are not being used to gather information unnecessarily.</p>
<p>The <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32002L0058:EN:HTML" target="_blank">ePrivacy directive</a> – more specifically Article 5(3) – requires prior informed consent for storage or for access to information stored on a user's terminal equipment. In other words, you must ask users if they agree to most cookies and similar technologies (e.g. web beacons, Flash cookies, etc.) before the site starts to use them.</p>
<p>For consent to be valid, it must be informed, specific, freely given and must constitute a real indication of the individual's wishes.</p>