<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
    <div class="breadcrumbs">
        <ul class="items">
            <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                <li class="item <?php /* @escapeNotVerified */ echo $crumbName ?>" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <?php if ($crumbInfo['link']) : ?>
                        <a href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>" itemprop="url">
                              <span itemprop="title">
                              <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                          </span>
                        </a>
                    <?php elseif ($crumbInfo['last']) : ?>
                      <a href="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>" title="<?php echo $block->escapeHtml($crumbInfo['label']) ?>" itemprop="url">
                        <span itemprop="title">
                            <strong><?php echo $block->escapeHtml($crumbInfo['label']) ?></strong>
                        </span>
                      </a>
                    <?php else: ?>
                      <span itemprop="title">
                        <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                      </span>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
