<?php

$kiyoh =  $block->getLayout()->createBlock('Interactivated\Customerreview\Block\Customerreview');

$rating_percentage = $kiyoh->getRatingPercentage();
$maxrating = $kiyoh->getMaxrating();
$url = $kiyoh->getMicrodataUrl();
$rating = $kiyoh->getRating();
$reviews = $kiyoh->getReviews();
$display = 'display:none;';
if($kiyoh->getShowRating()){
    $display = 'display:block;';
}

?>
<div class="background--green">
    <div class="container">
      <div class="row padding--large">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="padding--small">
          <img src="<?php echo $block->getViewFileUrl('images/footer_logo.png'); ?>" class="img img-responsive"/>
        </div>
        <p class="color--white">
          Met de inmeet instructie van Linnengordijnen kunt u zelf inmeten en binnenkort genieten van uw sfeervolle linnen gordijnen.
        </p>
        <div class="kiyoh-shop-snippets padding--small" style="<?php echo $display?>">
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $rating_percentage;?>%"></div>
            </div>
            <div class="kiyoh-schema" itemscope="itemscope" itemtype="http://schema.org/WebPage">
                <div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="bestRating" content="<?php echo $maxrating;?>">
                    <p>
                        <a href="<?php echo $url;?>" target="_blank" class="kiyoh-link color--white">
                            <?php echo $rating;?> <?php echo __('/ %1, gebaseerd op',$maxrating)?> <?php echo $reviews;?> <?php echo __('klantreviews');?>
                        </a>
                    </p>
                </div>
            </div>
        </div>
          <img src="<?php echo $block->getViewFileUrl('images/thuiswinkel.png'); ?>" class="img img-responsive float--left text--center-mobile thuiswinkel--footer"/>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <p class="color--white h6 float--left footer__title text--center-mobile">Product</p>
        <ul class="footer__ul float--left text--center-mobile">
          <li><a href="/gordijnen">Linnen gordijnen</a></li>
          <li><a href="/verduisterende-gordijnen">Verduisterende gordijnen</a></li>
          <li><a href="/gevoerde-gordijnen">Gevoerde gordijnen</a></li>
          <li><a href="/slaapkamer-gordijnen">Slaapkamer gordijnen</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <p class="color--white h6 float--left footer__title text--center-mobile">Klantenservice</p>
        <ul class="footer__ul float--left text--center-mobile">
          <li><a href="/meet-instructie">Meetinstructie</a></li>
          <li><a href="/bestellingen">Bestellingen</a></li>
          <li><a href="/verzending-bezorging">Verzending & bezorging</a></li>
          <li><a href="/retouren-service">Retouren & service</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/algemene-voorwaarden">Algemene voorwaarden</a></li>
          <li><a href="/klantenservice">Veelgestelde vragen</a></li>
          <li class="hide--desktop"><a href="/klachtenprocedure">Klachtenprocedure</a></li>
          <li class="hide--desktop"><a href="/garantie">Garantie</a></li>
          <li class="hide--desktop"><a href="/herroepingsrecht">Herroepingsrecht</a></li>
          <li class="hide--desktop"><a href="/bestelproces">Bestelproces</a></li>
          <li class="hide--desktop"><a href="/betaalmethodes-uitleg">Betaalmethodes & uitleg</a></li>
          <li class="hide--desktop"><a href="/privacy-policy">Cookies Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 hide__mobile">
        <p class="color--white h6 float--left footer__title text--center-mobile">&nbsp;</p>
        <ul class="footer__ul float--left text--center-mobile">
          <li><a href="/klachtenprocedure">Klachtenprocedure</a></li>
          <li><a href="/garantie">Garantie</a></li>
          <li><a href="/herroepingsrecht">Herroepingsrecht</a></li>
          <li><a href="/bestelproces">Bestelproces</a></li>
          <li><a href="/betaalmethodes-uitleg">Betaalmethodes & uitleg</a></li>
          <li><a href="/privacy-policy">Cookies Policy</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-12 col-sm-6 col-12">
        <p class="color--white h6 float--left footer__title text--center-mobile">Contact</p>
        <ul class="footer__ul float--left text--center-mobile">
          <li><a href="mailto:infor@linnengordijnenshop.nl">info@linnengordijnenshop.nl</a></li>
          <li><a href="tel:076 532 93 26 ">076 532 93 26 </a></li>
          <li>Openingstijden Breda</li>
          <li>Ma t/m Vr - 09:00 - 20:00</li>
          <li>Za & Zo  -  gesloten </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
require(['jquery'], function ($) {
  $(document).ready(function() {

    if($(window).width() < 740) {
          $('.footer__title').click( function() {
            $(this).next('.footer__ul').slideToggle();
            // alert();
          });
      };

    if($(window).width() < 740) {
        const dropdownButton = $('.level0 ');
        $(dropdownButton).on('click', function(e) {
          e.preventDefault();
          $(this).next('.submenu').css({"display":"block"});
        });
    };

  });

});
</script>
