<?php

$kiyoh =  $block->getLayout()->createBlock('Interactivated\Customerreview\Block\Customerreview');

$rating_percentage = $kiyoh->getRatingPercentage();
$maxrating = $kiyoh->getMaxrating();
$url = $kiyoh->getMicrodataUrl();
$rating = $kiyoh->getRating();
$reviews = $kiyoh->getReviews();
$display = 'display:none;';
if($kiyoh->getShowRating()){
    $display = 'display:block;';
}

?>
<div class="hide--mobile">
  <div class="background--green float--left full-width header--top">
    <div class="container">
      <div class="row padding--x-small">
        <div class="col-md-6 float--left">
          <div class="kiyoh-shop-snippets" style="<?php echo $display?>">
              <div class="rating-box">
                  <div class="rating" style="width:<?php echo $rating_percentage;?>%"></div>
              </div>
              <div class="kiyoh-schema" itemscope="itemscope" itemtype="http://schema.org/WebPage">
                  <div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                      <meta itemprop="bestRating" content="<?php echo $maxrating;?>">
                      <p>
                          <a href="<?php echo $url;?>" target="_blank" class="kiyoh-link color--white">
                              <?php echo __('Beoordeling: ')?> <?php echo $rating;?> <?php echo __('/ %1, gebaseerd op',$maxrating)?> <?php echo $reviews;?> <?php echo __('klantreviews');?>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 float--right">
          <ul class="list--inline color--white float--right">
            <li class="border--right border--white"><i class="fa fa-phone"></i> 076 532 93 26</li>
            <li class="border--right border--white"><a class="color--white" href="/customer/account/login/">Account</a></li>
            <li class="border--right border--white"><a class="color--white" href="/klantenservice">Klantenservice</a></li>
            <li class="border--right border--white"><a class="color--white" href="/contact">Contact</a></li>
            <li class="border--right border--white"><a class="color--white" href="/over-linnen">Over Ons</a></li>
            <li class="color--white"><a class="color--white" href="/architecten-en-stylisten">Architecten en Interieurstylisten</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hide--desktop">
  <div class="background--green shadow--bottom display--block header--fixed">
    <div class="container">
      <div class="row padding--small">
        <div class="col-7 float--left">
          <a href="/">
            <img src="<?php echo $block->getLayout()->getBlock('logo')->getLogoSrc(); ?>" class="img img-responsive"/>
          </a>
        </div>
        <div class="col-5 float--right">
          <a class="color--white text--right padding--small" href="tel:0765329326" style="font-size: 16px"><i class="fa fa-phone p"></i> 076 532 93 26</a>
        </div>
      </div>
    </div>
  </div>
</div>
