<div class="background--light-grey height--large">
  <div class="container padding--large">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-6">
        <img src="<?php echo $block->getViewFileUrl('images/avatars/featured.png'); ?>" class="img img-responsive padding--small text--center display--block" />
        <a class="btn btn--green btn--medium float--left text--uppercase btn--radius full-width color--white"><?php echo __('All Products'); ?></a>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6">
        <p class="h2 color--grey float--left"><?php echo __('Top 4 for our clients'); ?></p>
        <p class="float--left padding--small"></p>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-12 featured">
        <?php $FeaturedProducts = $block->GetProductCollection();

            var_dump($FeaturedProducts);

        ?>

        <div class="col-md-3 col-xs-12 featured__item">
          slide 1
        </div>
        <div class="col-md-3 col-xs-12 featured__item">
          slide 2
        </div>
        <div class="col-md-3 col-xs-12 featured__item">
          slide 3
        </div>
        <div class="col-md-3 col-xs-12 featured__item">
          slide 4
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    require(['jquery',
        'slick'
    ], function ($) {
        $(document).ready(function () {
            $(".featured").not('.multiple-items').slick({
              slidesToShow: 2,
                slidesToScroll: 1,
                mobileFirst: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: 'unslick'
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    });
</script>
