.btn--cookie {
  text-transform: uppercase;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 20px 30px;
  margin-right: 20px;
  display: inline-block;
  letter-spacing: 1.2px;
}

.btn--cookie:hover {
  cursor: pointer;
}

.cookie--box {
  display: none;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  z-index: 99999;
  background-color: #FFF;
  border-top: 1px solid #333;
}

.cookie--box p {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}
