<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="newsletter--background relative height--large">
  <div class="absolute absolute--center full-width">
    <div class="row display--block">
      <p class="h1 color--grey text--center"><?php echo __('Keep up to date with our latest collection'); ?></p>
    </div>
    <div class="row text--center padding--medium">

      <div class="col-md-5 col-xs-12 offset-md-3">
        <div class="padding--medium">
          <form class="form subscribe"
              novalidate
              action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="newsletter-validate-detail">

              <input name="email" type="email" id="newsletter"
                                  class="newsletter__input display--inline"
                                  placeholder="Voer uw e-mailadres in"
                                  data-validate="{required:true, 'validate-email':true}"/>

                <button class="btn btn--green display--inlinne btn--large text--uppercase newsletter__btn btn--radius--none" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                </button>

          </form>
        </div>
      </div>
      <div class="col-md-1 col-xs-12">
        <img src="<?php echo $block->getViewFileUrl('images/avatars/newsletter.png'); ?>" class="img img-responsive newsletter__avatar avatar"/>
      </div>
    </div>
  </div>
</div>

<script>
  require(['jquery'], function ($) {
        $(document).ready(function() {
          $('.newsletter__btn').hover(function(){
             doBounce($('.newsletter__avatar'), 3, '10px', 300);
            // $('.newsletter__avatar').animate({ top: 305 }, {duration: 1000, easing: 'easeOutBounce'});
            // alert('')
          }, $('.newsletter__btn').mouseout(function() {
            stop();
          }));

      });

      function doBounce(element, times, distance, speed) {
          for(i = 0; i < times; i++) {
              element.animate({marginTop: '-='+distance},speed)
                  .animate({marginTop: '+='+distance},speed);
          }
      }

    });
</script>
