<?php
  $_post =  $block->getLayout()->createBlock('Magefan\Blog\Block\Post\View')->getPost();
  $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>
<div class="banner__image">
<?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
<img src="<?php echo $featuredImage ?>" class="blog__image" />
<?php } ?>
<div class="absolute banner__text banner--inner">
    <div class="text--center">
      <h1 class="h1 banner__h1 color--white"><?php echo $_postName ?></h1>
    </div>
</div>
