<?php
/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post view template
 *
 * @var $block \Magefan\Blog\Block\Post\View
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>

<div class="container container-fluid">
  <div class="post-view">
      <div class="post-holder post-holder-<?php echo $_post->getId() ?>">

          <div class="post-content">
              <div class="post-description clearfix">


                  <div class="post-text-hld">
                      <?php echo $block->getContent() ?>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
