//
//  Common
//  _____________________________________________

body {
    background-color: $color-white;
    overflow-x: hidden;
}

//
//  Header
//  ---------------------------------------------

.page-header {
    background-color: $header__background-color;
    border-bottom: 1px solid $border-color__base;
    margin-bottom: $indent__base;
}

.header {
    &.content {
      display: none;
        // @extend .abs-add-clearfix;
        // padding-top: $indent__s;
        // position: relative;
    }
}

.logo {
    float: left;
    margin: 0 0 $indent__s $indent__xl;
    max-width: 50%;
    position: relative;
    z-index: 5;

    img {
        display: block;
    }

    .page-print & {
        float: none;
    }
}

.page-main {
    & > .page-title-wrapper {
        .page-title + .action {
            margin-top: $indent__l;
        }
    }
}

.action.skip {
    &:not(:focus) {
        @extend .abs-visually-hidden;
    }

    &:focus {
        background: $color-gray94;
        padding: $indent__s;
        box-sizing: border-box;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 15;
    }
}

//
//  Global notice
//  ---------------------------------------------

.message.global {
    p {
        margin: 0;
    }

    &.noscript,
    &.cookie {
        @include lib-message($_message-type: global-note);
        margin: 0;
    }

    &.cookie {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 3;

        .actions {
            margin-top: $indent__s;
        }
    }

    &.demo {
        @include lib-message($_message-type: global-caution);
        margin-bottom: 0;
        text-align: center;
    }
}

//
//  Footer
//  ---------------------------------------------

.page-footer {
    margin-top: auto;
    background-color: color(white);
}

.footer {
  &__title {
    font-size: 22px;
    font-weight: 600;
  }
    &.content {
        border-top: 1px solid $border-color__base;
        margin-top: 25px;
        padding-bottom: 25px;
        padding-top: 25px;

        ul {
            @extend .abs-reset-list;
        }

        .links {
            & > li {
                margin: 0 0 8px;
            }
        }

        .switcher-store {
            margin: 0 0 30px;
        }
    }

    .copyright,
    .bugs {
        display: block;
        margin: 20px 0 0;
    }
}

.page-header,
.page-footer {
    .switcher {
        margin-right: 10px;

        .options {
            @include lib-dropdown(
                $_dropdown-actions-padding           : 0,
                $_dropdown-list-item-padding         : 0,
                $_dropdown-toggle-icon-content       : $icon-down,
                $_dropdown-toggle-active-icon-content: $icon-up,
                $_icon-font-text-hide                : true,
                $_icon-font-size                     : 22px,
                $_icon-font-line-height              : 22px,
                $_dropdown-list-min-width            : 160px
            );

            ul.dropdown {
                a {
                    display: block;
                    padding: 8px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        li {
            font-size: $font-size__s;
            margin: 0;
        }

        .label {
            @extend .abs-visually-hidden;
        }

        strong {
            font-weight: $font-weight__regular;
        }
    }
}

//
//  Widgets
//  ---------------------------------------------

.sidebar {
    .widget.block:not(:last-child),
    .widget:not(:last-child) {
        @extend .abs-margin-for-blocks-and-widgets;
    }
}

.widget {
    clear: both;

    .block-title {
        @extend .abs-block-title;
    }
}

.page-header,
.page-footer {
    .widget.block {
        margin: $indent__base 0;
    }
}

.no-display {
    @extend .abs-no-display;
}

//
//  Calendar
//  ---------------------------------------------

.ui-datepicker {
    td {
        padding: 0;
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {

    html,
    body {
        height: 100%;
    }

    .page-wrapper {
        display: flex;
        flex-direction: column;

        & > .breadcrumbs,
        & > .top-container,
        & > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .navigation ul {
        padding: 0 8px;
    }

    .header {
        &.panel {
            & > .header.links {
                float: right;
                font-size: 0;
                @include lib-list-inline();
                margin-left: auto;

                & > li {
                    font-size: $font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            padding-left: $indent__xs;
                        }
                    }
                }
            }
        }

        &.content {
            @extend .abs-add-clearfix-desktop;
            padding: $indent__l $indent__base 0;
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid $secondary__color;
        }

        .header.panel {
            @extend .abs-add-clearfix-desktop;
            padding-bottom: $indent__s;
            padding-top: $indent__s;
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        & > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: $indent__base;
            }
        }
    }

    .logo {
        margin: -8px auto 25px 0;

        img {
            max-height: inherit;
        }
    }

    .footer {
        &.content {
            .block {
                float: right;
            }

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            @include lib-clearfix();
        }
    }
}

.upper-right {
    float: right;
}

.header__usp-content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.product__footer-content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: auto;
    margin-bottom: 20px;
}

.background {
  &__white {
    background-color: #FFF;
    &-product {
      background-color: #FFF;
      height: 100%;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  &__grey {
    background-color: #525252;
    color: #FFF;
    &-mobile {
      background-color: #EAE7E5;
      color: #000;
      padding: 20px;
      overflow: hidden;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

.block--center {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 20px 0;
  & img {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }

}

.banner--inner {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.banner__button {
  border-radius: 50%;
  position: absolute;
  background-color: rgb(255, 165, 2);
  z-index: 999;
  top: 40%;
  height: 300px;
  width: 300px;
  line-height: 42px;
  text-align: center;
  text-decoration: none !important;
  color: #FFF !important;
  right: 5%;
  transform: rotate(0.02turn);
  font-weight: 600;
  box-shadow: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.9);
  }
  &--text {
    margin-top: 80px;
    font-size: 30px;
  }
}

@media (max-width: 1140px){
  .banner__button {
    top: 35%;
  }
}

@media (max-width: 880px) {
  .banner__button {
    height: 260px;
    width: 260px;
    line-height: 35px;
  }
}

@media (max-width: 770px) {
  .banner__button {
    top: 20%;
  }
}

@media (max-width: 460px) {
  .banner__button {
    width: 150px;
    height: 150px;
    font-size: 18px;
    line-height: 25px;
    top: 60px;
    left: -5px;
    &--text {
      margin-top: 35px;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .fa-phone {
    font-size: 30px;
  }
  .minicart-wrapper .action.showcart:before {
    font-size: 50px;
    line-height: 27px;
  }
}

.b2b-header-button {
  color: #FFF !important;
  background-color: #FFA503;
  text-decoration: none;
  padding: 1px 20px;
  margin: 0 10px;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
}

.b2b-footer-button {
  color: #FFF !important;
  background-color: #85A286;
  text-decoration: none;
  padding: 10px 28px;
  width: 100%;
  font-size: 13px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: darken(#85A286, 20%)
  }
}

@media(max-width: 1100px) {
  .usp--ipad {
    width: 24% !important;
  }
}


.search {
  &__input {
    background: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.20);
    padding: 20px !important;
    width: 100%;
    max-width: 500px;
    border: 0 !important;
    height: 50px !important;
    &::placeholder {
      color: #E2DFDF !important;
      font-size: 17px;
    }
    &:focus {
      box-shadow: 0 0 4px 7px rgba(133, 162, 134, 0.6) !important
    }
  }
  &__btn {
    margin-left: -5px;
    vertical-align: top;
  }
}

.sidebar {
  &--block {
    border-top: 1px solid #dee2e6;
    width: 100%;
    padding: 15px 0;
  }
}

.page-bottom {
  border-top: 1px solid #e8e8e8;
}

.block .filter {
  padding: 15px;
}

.footer.content {
  display: none !important;
}

iframe#drift-widget {
  bottom: 10px !important;
}

.thuiswinkel {
  &--header {
    height: 45px;
  }
  &--footer {
    height: 90px;
  }
}
