<?php
$pageAttributes = $block->fetchImage();
// var_dump($pageAttributes['title']);
$pageAttributes = $pageAttributes['0'];
$image = $pageAttributes['hero_image'];
$pageTitle = $pageAttributes['content_heading'];
?>

<?php if($pageAttributes['page_layout'] == '1column'): ?>
  <div class="banner__image relative padding__bottom--medium">
    <?php if($image): ?>
      <img src="<?php echo $image; ?>" class="full-width" />
    <?php else: ?>
        <img src="<?php echo $block->getViewFileUrl('images/home_banner.jpg'); ?>" class="full-width" />
    <?php endif;?>
    <div class="absolute banner__text banner--center">
      <div class="text--center">
        <h1 class="h1 banner__h1 color--white"><?php echo $pageTitle; ?></h1>
      </div>
    </div>
  </div>
<?php endif; ?>
