//
//  Variables
//  _____________________________________________

$braintree-input-border__color: $color-gray76 !default;

$braintree-error__color       : $color-red10 !default;
$braintree-focus__color       : color(blue)2 !default;
$braintree-success__color     : $color-dark-green1 !default;
