<?php
$product = $block->getProduct();

if(!empty($product->getData('washing_instructions'))): ?>
  <p class="review--title">Onderhoud</p>
  <p class="product-p"><?php echo $product->getData('washing_instructions'); ?></p>
<?php endif; ?>
