<?php
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $productId = $objectManager->get('Magento\Framework\Registry')->registry('current_product')->getId();
  $currentProduct = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
  $categoryIds = $currentProduct->getCategoryIds();
  sort($categoryIds);
  $category =  $objectManager->create('Magento\Catalog\Model\Category')->load($categoryIds['1']);
?>
<div class="breadcrumbs">
  <ul class="items">
      <li class="item home">
          <a href="/" title="Ga naar homepagina">Home</a>
      </li>
      <li class="item category">
          <a href="/gordijnen" title=""><?php echo $category->getName(); ?></a>
      </li>
      <li class="item product">
          <strong><?php echo $currentProduct->getName(); ?></strong>
      </li>
  </ul>
</div>
