<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items row">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="col-lg-4 col-md-4 col-sm-12 col-12 padding--20">' : '</li><li class="col-lg-4 col-md-4 col-sm-12 col-12 padding--20">' ?>
                  <?php
                    $product = explode(" - ", $_product->getName());
                    $productType = $product[0];
                    $productColour = $product[1];

                  ?>
                <div class="card--center-mobile">
                  <a href="<?php echo $_product->getProductUrl(); ?>">
                    <div class="card__item float--left background--white relative match-height card--center-mobile">
                      <img src="/pub/media/catalog/product<?php echo $_product->getImage(); ?>" alt="<?php echo $_product->getName(); ?>"  class="card__image"/>
                      <div class="padding--x-small">
                        <p class="float--left color--grey full-width"><?php echo $productType; ?></p>
                        <p class="float--left color--text-light-grey full-width"><?php echo $productColour; ?></p>
                        <?php if(strpos($_product->getName(), 'Staal') !== false) { ?>
                            <p class="float--left color--grey full-width">Gratis</p>
                        <?php } else { ?>
                          <p class="float--left color--grey full-width">Vanaf &euro;<?php echo $_product->getFinalPrice(); ?></p>
                        <?php } ?>
                      </div>
                      <a class="btn__cart" href="<?php echo $_product->getProductUrl(); ?>"><p class="color--white btn__cart--text">BEKIJK PRODUCT</p></a>
                    </div>
                  </a>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>

<script>
    require(['jquery'
    ], function ($) {

      $(document).ready(function(e) {
        $('.btn__cart').hover(function(){
          $(this).addClass('btn__cart--active');
          $(this).find('btn__cart--text').addClass('btn__cart--active');
          $(this).children().show();
        }, function() {
          $('.btn__cart').mouseleave(function(){
            $(this).removeClass('btn__cart--active');
            $('btn__cart--text').removeClass('btn__cart--active');
            $(this).children().hide();
        });
      });
    });

    });
</script>
