<?php

$CurrentProduct = $block->getProduct();

$ProductCategoryIds = $CurrentProduct->getCategoryIds();

// print_r ($CurrentProduct->getCategoryIds());
?>

<p class="product__text--large">
  Hoe u moet meten
</p>

<?php if (in_array('3' ,$ProductCategoryIds)): ?>
<!--Gordijnen-->

<p class="product__text--medium text__bold"><a href="/meet-instructie" target="_blank">Meetinstructie</a></p>

<?php elseif (in_array('9' ,$ProductCategoryIds)): ?>
<!--Vouwgordijnen-->
<p class="product__text--medium text__bold"><a href="/pub/media/wysiwyg/Meetinstructies_vouwgordijnen_.pdf" target="_blank">Meetinstructie</a></p>

<?php elseif (in_array('25' ,$ProductCategoryIds)): ?>
<!--Vouwgordijnen-->
<p class="product__text--medium text__bold"><a href="/pub/media/wysiwyg/Meetinstructies_houten_jaloezieen.pdf" target="_blank">Meetinstructie</a></p>


<?php endif; ?>
