//
//  Common
//  _____________________________________________
.kiyoh-shop-snippets {
    display: block;

    p {
    margin-top: 0px;
    }
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
    .kiyoh-shop-snippets{
      //  display: none !important;
    }
}

@include max-screen($screen__s) {
    .kiyoh-shop-snippets{
       // display: none !important;
    }
}
