<div class="container">
  <div class="padding--medium">
    <div class="row">
      <div class="block--center">
        <img src="/pub/media/wysiwyg/payment-methods.png" alt="linnengordijnenshop payment methods" class="footer__payment-methods" />
      </div>
    </div>
    <div class="row display--block">
      <p class="color--grey text--center">Linnen Gordijnen &copy; <?php echo date('Y'); ?> All right reserved</p>
    </div>
  </div>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script> -->


<script>
require(["jquery","owlcarousel"], function ($) {
  $(document).ready(function() {
    $('.review').owlCarousel({
      navigation : false,
      center: false,
      items: 3,
      autoPlay: true,
      autoWidth: false,
      margin: 10,
      dots: true,
      loop: true,
      responsive: {
        0: {
          items: 1
        },
        768: {
          items: 2
        },
        1024: {
          item: 3
        }
      }
    });
//Initializing news owl carousel

        $(".featured").owlCarousel({
          navigation : false,
          items: 4,
          autoPlay: false,
          autoWidth: false,
          loop: true,
          responsive: {
            0: {
              items: 1
            },
            768: {
              items: 3
            },
            1024: {
              item: 4
            }
          }
        });

      $(".related-multiple-items").owlCarousel({
            navigation : false,
            // center: true,
            dots: true,
            items: 3,
            autoPlay: true,
            autoWidth: false,
            margin: 10,
            loop: true,
            responsive: {
              0: {
                items: 1
              },
              768: {
                items: 2
              },
              1024: {
                item: 3
              }
            }
          });

          $(".multiple-items").owlCarousel({
                navigation : false,
                // center: true,
                dots: true,
                items: 3,
                autoPlay: true,
                autoWidth: false,
                margin: 10,
                loop: true,
                responsive: {
                  0: {
                    items: 1
                  },
                  768: {
                    items: 2
                  },
                  1024: {
                    item: 3
                  }
                }
              });
      });
});
</script>
