<?php

// $searchBlock = $block->getLayout()->createBlock('Interactivated\Customerreview\Block\Customerreview');
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="banner__image">
  <img src="<?php echo $block->getViewFileUrl('images/home_banner.jpg'); ?>" class="full-width" />
  <div class="absolute banner__text banner--center">
    <div class="text--center">
      <h1 class="h1 banner__h1 color--white">Welkom bij Linnen Gordijnen,<br />doe alsof je thuis bent </h1>
    </div>

    <form class="form minisearch padding--medium hide--mobile" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">

        <input id="search"
               data-mage-init='{"quickSearch":{
                    "formSelector":"#search_mini_form",
                    "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                    "destinationSelector":"#search_autocomplete"}
               }'
               type="text"
               name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
               value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
               placeholder="<?php /* @escapeNotVerified */ echo __('Waar ben je naar op zoek?'); ?>"
               class="search__input display--inline"
               maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
               role="combobox"
               aria-haspopup="false"
               aria-autocomplete="both"
               autocomplete="off"/>
        <div id="search_autocomplete" class="search-autocomplete"></div>
        <?php echo $block->getChildHtml() ?>

    <button type="submit"
            title="<?php echo $block->escapeHtml(__('Search')) ?>"
            class="btn btn--green display--inlinne btn--large text--uppercase search__btn btn--radius--none">
        <i class="fa fa-search"></i>
    </button>

    </form>


  </div>
</div>
<div class="usp__arrow background--light-grey">
  <div class="usp__box relative background--white">
    <div class="container">
      <div class="row padding--small">
        <div class="col-md-2 col-6 offset-md-2">
          <div class="padding--x-small block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/send.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Gratis verzending</p>
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <div class="padding--x-small block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/shipped.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Nederland + Belgie</p>
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <div class="padding--x-small block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/gift.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Gratis inmeetservice</p>
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <div class="padding--x-small block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/quality.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Garantie op gordijnen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow bounce triangle"></div>
</div>
