<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$productCollection = $objectManager->get('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory')
                                   ->create()
                                   ->addAttributeToSelect('*')
                                   ->addAttributeToFilter('featured', '1')
                                   ->setPageSize(4);

?>


<div class="background--light-grey">
  <div class="container">
    <div class="row padding--large">
      <div class="col-lg-2 col-md-3 col-sm-3 col-6">
        <img src="<?php echo $block->getViewFileUrl('images/avatars/featured.png'); ?>" class="img img-responsive padding--small text--center display--block avatar" />
        <a class="btn btn--green btn--medium float--left text--uppercase btn--radius full-width color--white hide--mobile" href="/gordijnen"><?php echo __('All Products'); ?></a>
      </div>
      <div class="col-lg-2 col-md-9 col-sm-9 col-6">
        <p class="h2 color--grey float--left"><?php echo __('Top 4 for our clients'); ?></p>
        <p class="float--left padding--small color--text-light-grey">Deze producten zijn deze week het meest aangeschaft door onze klanten, zit hier ook iets voor jou tussen?</p>
      </div>
      <div class="col-12 hide--desktop">
        <a class="btn btn--green btn--medium float--left text--uppercase btn--radius full-width color--white" href="/gordijnen"><?php echo __('All Products'); ?></a>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row featured owl-carousel owl-theme">
          <?php foreach($productCollection as $featured): ?>
          <?php $product = explode(" - ", $featured->getName());
                $productType = $product[0];
                $productColour = $product[1]; ?>
            <div class="item">
              <div class="card--center-mobile">
                <a href="<?php echo $featured->getProductUrl(); ?>">
                  <div class="card__item float--left background--white relative match-height">
                    <img src="/pub/media/catalog/product<?php echo $featured->getImage(); ?>" alt="<?php echo $featured->getName(); ?>"  class="card__image"/>
                    <div class="padding--x-small">
                      <p class="float--left color--grey full-width"><?php echo $productType; ?></p>
                      <p class="float--left color--text-light-grey full-width"><?php echo $productColour; ?></p>
                      <p class="float--left color--grey full-width">&euro;<?php echo $featured->getFinalPrice(); ?></p>
                    </div>

                    <a class="btn__cart" href="<?php echo $featured->getProductUrl(); ?>"><p class="color--white btn__cart--text">BEKIJK PRODUCT</p></a>
                  </div>
                </a>
              </div>
            </div>
          <?php endforeach; ?>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    require(['jquery'
  ], function ($) {

      $(document).ready(function(e) {
        $('.btn__cart').hover(function(){
          $(this).addClass('btn__cart--active');
          $(this).find('btn__cart--text').addClass('btn__cart--active');
          $(this).children().show();
        }, function() {
          $('.btn__cart').mouseleave(function(){
            $(this).removeClass('btn__cart--active');
            $('btn__cart--text').removeClass('btn__cart--active');
            $(this).children().hide();
        });
      });
    });
  });
</script>
