<div class="background--tips height--large table">
  <div class="container table--bottom">
    <div class="row  padding--medium justify-content-end">
      <div class="col-lg-6 col-md-9 col-xs-8">
        <p class="color--grey h2 float--left"><?php echo __('Tips from our stylists'); ?></p>
        <p class=" color--text-light-grey float--left padding--small module">
          Bent u op zoek naar linnen gordijnen, normaal gevoerd of verduisterend, gordijnen met enkele of dubbele plooi, linnen gordijnen aan een roede met zeilringen of gordijnen aan een roede met losse ringen in de beste kwaliteit en voor bodemprijzen?
        </p>
        <a class="btn btn--green btn--medium btn--radius text--uppercase float--left color--white" href="/inspiratie"><?php echo __('Read More'); ?></a>
      </div>
    </div>
  </div>
</div>
