<?php

$kiyoh =  $block->getLayout()->createBlock('Interactivated\Customerreview\Block\Customerreview');

$rating_percentage = $kiyoh->getRatingPercentage();
$maxrating = $kiyoh->getMaxrating();
$url = $kiyoh->getMicrodataUrl();
$rating = $kiyoh->getRating();
$reviews = $kiyoh->getReviews();

$display = 'display:none;';
if($kiyoh->getShowRating()){
    $display = 'display:block;';
}

?>
<div class="background--green">
  <div class="container" style="overflow:hidden">
    <div class="padding--large">
      <div class="row display--block">
        <p class="color--white h1 text--center">Wat onze klanten van ons vinden</p>
      </div>

      <div class="row">
        <div class="kiyoh-shop-snippets text--center" style="<?php echo $display?>; float: none; margin: 0 auto;">
            <div class="rating-box">
                <div class="rating" style="width:<?php echo $rating_percentage;?>%"></div>
            </div>
            <div class="kiyoh-schema" itemscope="itemscope" itemtype="http://schema.org/WebPage">
                <div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="bestRating" content="<?php echo $maxrating;?>">
                    <p>
                        <a href="<?php echo $url;?>" target="_blank" class="kiyoh-link color--white">
                            <?php echo __('Beoordeling: ')?> <?php echo $rating;?> <?php echo __('/ %1, gebaseerd op',$maxrating)?> <?php echo $reviews;?> <?php echo __('klantreviews');?>
                        </a>
                    </p>
                </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="slick-container">
          <div class="review owl-carousel owl-theme">
            <div class="review__item item match-height float--left">
              <p class="color--grey display--inline h6 float--left" style="padding: 10px;">Petra</p>

              <p class="color--grey float--left padding--small">
                “Goed telefonisch advies gekregen over kleur voeringstof en soort plooi. Levering op tijd en afgesproken dag.
                De gordijnen zijn goed gemaakt en hangen prachtig.”
              </p>

              <div class="kiyoh-shop-snippets" style="display: block">
                <div class="rating-box">
                    <div class="rating" style="width:90%"></div>
                </div>
              </div>
            </div>

            <div class="review__item item match-height  float--left">
              <p class="color--grey display--inline h6 float--left" style="padding: 10px;">Maureen</p>

              <p class="color--grey float--left padding--small">
                “Correct te woord gestaan over de verschillende stoffen, andere opties aangedragen.”
              </p>

              <div class="kiyoh-shop-snippets" style="display: block">
                <div class="rating-box">
                    <div class="rating" style="width:80%"></div>
                </div>
              </div>
            </div>

            <div class="review__item item  match-height float--left">
              <p class="color--grey display--inline h6 float--left" style="padding: 10px;">Marijke</p>

              <p class="color--grey float--left padding--small">
                “Heel toegankelijk en behulpzaam bij vragen. En echt schitterende gordijnen. Super tevreden ! Geen, geoon top!”
              </p>

              <div class="kiyoh-shop-snippets" style="display: block">
                <div class="rating-box">
                    <div class="rating" style="width:100%"></div>
                </div>
              </div>
            </div>

            <div class="review__item item  match-height float--left">
              <p class="color--grey display--inline h6 float--left" style="padding: 10px;">Tynke</p>

              <p class="color--grey float--left padding--small">
                “Mooie kwaliteit; proeflapjes waren erg fijn; goed telefonisch overleg en advies; uitstekende bezorgservice.”
              </p>

              <div class="kiyoh-shop-snippets" style="display: block">
                <div class="rating-box">
                    <div class="rating" style="width:100%"></div>
                </div>
              </div>
            </div>

            <div class="review__item item match-height  float--left">
              <p class="color--grey display--inline h6 float--left" style="padding: 10px;">Hanneke</p>

              <p class="color--grey float--left padding--small">
                “zeer vriendelijke en bereidwillige medewerkers van Linnengordijnenshop.
                ik heb tot 2 x toe staaltjes opgevraagd en die werden me keurig toegestuurd. Chapeau !
                De gordijnen zijn keurig gemaakt.”
              </p>

              <div class="kiyoh-shop-snippets" style="display: block">
                <div class="rating-box">
                    <div class="rating" style="width:100%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <p class="color--white">Bent u op zoek naar linnen gordijnen, normaal gevoerd of verduisterend, gordijnen met enkele of dubbele plooi, linnen gordijnen aan een roede met zeilringen of gordijnen aan een roede met losse ringen in de beste kwaliteit en voor bodemprijzen? Dan bent u bij Linnengordijnen aan het juiste adres. Met de inmeet instructie van Linnengordijnen kunt u zelf inmeten en binnenkort genieten van uw sfeervolle linnen gordijnen. Wij brengen 12 verschillende kleuren linnen gordijnen, 12 kleuren linnenlook gordijnen en 8 kleuren gordijnvoeringen. De voering beschermt uw linnen gordijnen tegen verkleuring door zonlicht en indirect licht en uw gordijnen zullen mooier vallen.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <p class="color--white">Daarnaast hebben wij ook linnen gordijnen met een verduisterende voering om uw slaapvertrek geheel af te sluiten tegen licht. Linnengordijnen garandeert de beste kwaliteit gordijnen voor stuntprijzen. Al onze linnen gordijnen worden op maat gemaakt, garantie tot in de perfectie. Voor meer informatie of vragen, klik hier voor de contactgegegevens van de Linnengordijnen. Benieuwd naar de reactie van onze klanten? <a href="https://www.kiyoh.nl/linnengordijnenshop_nl/" target="_blank">Klik hier.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
