<div id="popup-modal" >
    <div class="relative">
      <div class="container">
        <div class="row padding--medium">
          <div class="col-3 col-sm-3 col-md-3 col-lg-3">
            <img src="<?php echo $block->getViewFileUrl('images/avatars/newsletter.png'); ?>" class="img img-responsive newsletter__avatar avatar"/>
          </div>
          <div class="col-9 col-sm-9 col-md-9 col-lg-9">
            <div class="padding--small">
              <h1 class="h2 text--center text__bold">Welkom op de nieuwe website!</h1>
              <h3 class="text--center text__bold">We hebben een nieuwe website! Met een nieuw design, duidelijke informatie en nog meer inspiratie blijven we van de beste service.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script>
  require(
    ['jquery','Magento_Ui/js/modal/modal'], function($,modal) {
      $(document).ready(function() {
        // setTimeout(function(){
          var options = {
              type: 'popup',
              responsive: false,
              innerScroll: true,
              title: false,
              buttons: false
          };
          var popup = modal(options, $('#popup-modal'));

          $('#popup-modal').modal('openModal');

          function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
          }
          function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
          }

          function eraseCookie(name) {
            document.cookie = name+'=; Max-Age=-99999999;';
          }

          function setForzaKerstCookie() {
            setCookie('kerst_cookie','kerst_cookie',1);
          }

          var kerstBox = document.getElementsByClassName("modals-overlay");

          var forzaKerstCookie = getCookie('kerst_cookie');

          if (document.cookie.indexOf('kerst_cookie') > -1) {
            console.log('banner hidden');
            $('.modals-wrapper').hide();
            $('.modal-popup').hide();
            $('body').removeClass('_has-modal');
          } else {
            $('.modals-overlay').show();
            $('.modal-popup').show();
          }

          document.getElementsByClassName("action-close").onclick = setForzaKerstCookie();
        // },2000);
      });
    }
  );


</script>
<style>

.modal-content {
  padding: 0 !important;
  border: 0 !important;
}
.modal-inner-wrap {
  box-shadow: 0px 0px 4px #000;
  width: 90% !important;
  max-width: 600px !important;
}

.modal-header {
  padding: 0 !important;
}

.modal-header .action-close {
    height: 75px !important;
    padding: 0 !important;
    z-index: 999;
}

.modal-header .action-close:before {
    color: #333 !important;
    font-size: 75px !important;
}

@media(max-width: 899px) {
  .modal-header .action-close:before {
      font-size: 40px !important;
  }
}

.modal-popup {
  top: 10% !important;
}

.modals-overlay {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

</style>
