<div class="background--free height--large">
  <div class="container">
    <div class="hide--mobile">
      <div class="row justify-content-start padding--large">
        <div class="col-lg-2 col-md-2 col-xs-3">
          <img src="<?php echo $block->getViewFileUrl('images/avatars/free.png'); ?>" class="img img-responsive avatar"/>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
          <p class="color--grey h2 float--left scroll__reveal--left"><?php echo __('Request a free sample'); ?></p>
          <p class="float--left padding--medium color--text-light-grey module">Met de inmeet instructie van Linnengordijnen kunt u zelf inmeten en binnenkort genieten van uw sfeervolle linnen gordijnen.</p>
          <a class="btn btn--green btn--medium btn--radius text--uppercase float--left color--white hide--mobile" href="/gratis-stalen"><?php echo __('Start'); ?></a>
        </div>
      </div>
    </div>
    <div class="hide--desktop  padding--medium">
      <div class="row justify-content-start ">
        <div class="col-md-6">
          <p class="float--left padding--medium color--text-light-grey module">Met de inmeet instructie van Linnengordijnen kunt u zelf inmeten en binnenkort genieten van uw sfeervolle linnen gordijnen.</p>
        </div>

        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-2 col-3 hide--desktop">
          <img src="<?php echo $block->getViewFileUrl('images/avatars/free.png'); ?>" class="img img-responsive"/>
        </div>
        <div class="col-6 hide--desktop">
          <a class="btn btn--green btn--medium btn--radius text--uppercase float--left color--white full-width" style="margin-top: 60px;" href="/gratis-stalen"><?php echo __('Start'); ?></a>
        </div>
      </div>
    </div>
  </div>
</div>
