<div class="row background--transparent absolute border--white desktop-header border--bottom header--fixed hide--mobile full-width" style="margin: 0; clear: both; z-index: 9">
  <div class="container">
    <div class="row padding--small">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <a href="/">
          <img src="<?php echo $block->getLayout()->getBlock('logo')->getLogoSrc(); ?>" class="img img-responsive"/>
        </a>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 padding--none">
        <?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Topmenu")->setTemplate("Magento_Theme::html/topmenu.phtml")->toHtml(); ?>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">

        <?php include ($block->getTemplateFile('Magento_Checkout::cart/minicart.phtml')) ?>
        <img src="<?php echo $block->getViewFileUrl('images/thuiswinkel.png'); ?>" class="img img-responsive thuiswinkel--header float--right"/>
      </div>
    </div>
  </div>
</div>
<script>
require(["jquery"], function($) {
  $(document).ready(function() {
    var topHeaderHeight = $('.header--top').height();
    $('.header--fixed').css({"top" : topHeaderHeight});
  });
  ////
  // Product page usp gap
  ////
  $(window).load(function() {
    if ($("body").hasClass("catalog-product-view")) {
      var navbarTopSpacing = $(".desktop-header").height();
      console.log(navbarTopSpacing);
      $(".header__usp-content").css({"margin-top": navbarTopSpacing});
    };
  });
});
</script>
