<?php
  $helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="sticky--footer-search hide--desktop background--light-grey border--top border--green display--none">
  <form class="form minisearch" id="search_footer_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
    <div class="row">
      <div class="col-sm-9 col-10 padding--none">
        <input id="search"
               data-mage-init='{"quickSearch":{
                    "formSelector":"#search_mini_form",
                    "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                    "destinationSelector":"#search_autocomplete"}
               }'
               type="text"
               name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
               value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
               placeholder="<?php /* @escapeNotVerified */ echo __('Waar ben je naar op zoek?'); ?>"
               class="search__input display--inline"
               maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
               role="combobox"
               aria-haspopup="false"
               aria-autocomplete="both"
               autocomplete="off"/>
               <div id="search_autocomplete" class="search-autocomplete"></div>
               <?php echo $block->getChildHtml() ?>
      </div>
      <div class="col-sm-3 col-2 padding--none">
        <button type="submit"
                title="<?php echo $block->escapeHtml(__('Search')) ?>"
                class="btn btn--green display--inlinne text--uppercase search__btn btn--radius--none" style="margin-left: -20px;height: 100%; width: 100%;">
            <i class="fa fa-search text--center"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="sticky--footer hide--desktop background--light-grey border--top border--green">
  <div class="row padding--small">
    <div class="col-2 offset-1">
      <!-- <p class="h2 text--center color--grey"><i class="fa fa-bars"></i></p> -->
      <div id="menu-trigger" class="menu-trigger">
      	<div></div>
      	<div></div>
      	<div></div>
      </div>
    </div>
    <div class="col-2">
      <p class="h2 text--center color--grey search--icon"><i class="fa fa-search" style="margin-top: 3px;"></i></p>
    </div>
    <div class="col-2">
      <a href="/customer/account/"><p class="h2 text--center color--grey"><i class="fa fa-user"></i></p></a>
    </div>
    <div class="col-2">
      <a href="/checkout/cart/"><p class="h2 text--center color--grey"><i class="fa fa-shopping-cart"></i></p></a>
    </div>

  </div>
</div>
<div class="mobile-navigation">
  <?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Topmenu")->setTemplate("Magento_Theme::html/topmenu.phtml")->toHtml(); ?>
</div>


<script>
require(['jquery'], function ($) {
   $(document).ready(function() {
     if($(window).width() < 800) {

      $('.menu-trigger').on('click', function() {
        var navigation = $('.mobile-navigation');

        $(navigation).toggleClass('mobile-navigation--open');



        $('.mobile-navigation').focusout(function() {
            $(this).removeClass('mobile-navigation--open');
        });

        if((navigation).hasClass('mobile-navigation--open')) {
          $('body').css({"overflow":"hidden"});
        } else {
          $('body').css({"overflow":"auto"});
        }
      });

    	$('.menu-item').addClass('menu-trigger');
    	$('.menu-trigger').click(function(){
    		$('#menu-trigger').toggleClass('clicked');
    		$('.container').toggleClass('push');
    		$('.menu-type').toggleClass('open');
    	});

      $('.search--icon').on('click', function() {
        $('.sticky--footer-search').toggleClass('display--none');
      });
     };
   });
});
</script>
