<div class="sidebar--block">
  <div class="row margin--none ">
    <p class="color--grey h3">Waarom kiest u Linnen Gordijnen?</p>
  </div>
  <div class="row margin--none  padding--x-small">
    <div class="col-md-1 display--inline padding--none">
      <i class="fa fa-check color--green"></i>
    </div>

    <div class="col-md-10 display--inline padding--none">
      <p class="color--text-light-grey margin--none">Gratis advies</p>
    </div>
  </div>
  <div class="row margin--none  padding--x-small">
    <div class="col-md-1 display--inline padding--none">
      <i class="fa fa-check color--green"></i>
    </div>
    <div class="col-md-10 display--inline padding--none">
      <p class="color--text-light-grey margin--none">Gratis verzending</p>
    </div>
  </div>
  <div class="row margin--none  padding--x-small">
    <div class="col-md-1 display--inline padding--none">
      <i class="fa fa-check color--green"></i>
    </div>
    <div class="col-md-10 display--inline padding--none">
      <p class="color--text-light-grey margin--none">Gratis op maat gemaakt</p>
    </div>
  </div>
  <div class="row margin--none  padding--x-small">
    <div class="col-md-1 display--inline padding--none">
      <i class="fa fa-check color--green"></i>
    </div>
    <div class="col-md-10 display--inline padding--none">
      <p class="color--text-light-grey margin--none">Gratis kleurstalen</p>
    </div>
  </div>
  <div class="row margin--none  padding--x-small">
    <div class="col-md-1 display--inline padding--none">
      <i class="fa fa-check color--green"></i>
    </div>
    <div class="col-md-10 display--inline padding--none">
      <p class="color--text-light-grey margin--none">Levertijd van drie weken</p>
    </div>
  </div>
  <div class="row margin--none  padding--x-small">
    <div class="col-md-1 display--inline padding--none">
      <i class="fa fa-check color--green margin--none"></i>
    </div>
    <div class="col-md-10 display--inline padding--none">
      <p class="color--text-light-grey margin--none">Levering in NL en BE</p>
    </div>
  </div>
</div>
