<?php

$kiyoh =  $block->getLayout()->createBlock('Interactivated\Customerreview\Block\Customerreview');

$rating_percentage = $kiyoh->getRatingPercentage();
$maxrating = $kiyoh->getMaxrating();
$url = $kiyoh->getMicrodataUrl();
$rating = $kiyoh->getRating();
$reviews = $kiyoh->getReviews();

$display = 'display:none;';
if($kiyoh->getShowRating()){
    $display = 'display:block;';
}

?>
<div class="sidebar--block">
  <div class="row margin--none  display--block">
    <p class="color--grey h3">Onze Reviews</p>
  </div>
  <div class="row margin--none ">
    <div class="kiyoh-shop-snippets float--left" >
        <div class="rating-box margin--none">
            <div class="rating" style="width:<?php echo $rating_percentage;?>%"></div>
        </div>
        <div class="kiyoh-schema" itemscope="itemscope" itemtype="http://schema.org/WebPage" style="float: left; margin: -2px 10px 0;">
            <div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="bestRating" content="<?php echo $maxrating;?>">
                <p>
                    <a href="<?php echo $url;?>" target="_blank" class="kiyoh-link color--grey">
                      <p class="color--text-light-grey"><?php echo $rating;?> <?php echo __('/ %1',$maxrating)?></p>
                    </a>
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="row margin--none ">
    <div class="review__item padding--small margin--none">
      <p class="color--grey h6 float--left full-width">Petra</p>
      <div class="kiyoh-shop-snippets float--left full-width padding--small" style="display: block">
        <div class="rating-box margin--none">
            <div class="rating" style="width:90%"></div>
        </div>
      </div>
      <p class="color--text-light-grey float--left">
        “Goed telefonisch advies gekregen over kleur voeringstof en soort plooi. Levering op tijd en afgesproken dag.
        De gordijnen zijn goed gemaakt en hangen prachtig.”
      </p>
    </div>

    <div class="review__item padding--small margin--none">
      <p class="color--grey h6 float--left full-width">Maureen</p>
      <div class="kiyoh-shop-snippets float--left full-width padding--small" style="display: block">
        <div class="rating-box margin--none">
            <div class="rating" style="width:80%"></div>
        </div>
      </div>
      <p class="color--text-light-grey float--left">
        “Correct te woord gestaan over de verschillende stoffen, andere opties aangedragen.”
      </p>
    </div>

    <div class="review__item padding--small margin--none">
      <p class="color--grey h6 float--left full-width">Marijke</p>
      <div class="kiyoh-shop-snippets float--left full-width padding--small" style="display: block">
        <div class="rating-box margin--none">
            <div class="rating" style="width:100%"></div>
        </div>
      </div>
      <p class="color--text-light-grey float--left">
        “Heel toegankelijk en behulpzaam bij vragen. En echt schitterende gordijnen. Super tevreden ! Geen, geoon top!”
      </p>
    </div>

    <!-- <div class="review__item padding--small margin--none">
      <p class="color--grey h6 float--left full-width">Tynke</p>
      <div class="kiyoh-shop-snippets float--left full-width padding--small" style="display: block">
        <div class="rating-box margin--none">
            <div class="rating" style="width:100%"></div>
        </div>
      </div>
      <p class="color--text-light-grey float--left">
        “Mooie kwaliteit; proeflapjes waren erg fijn; goed telefonisch overleg en advies; uitstekende bezorgservice.”
      </p>
    </div>

    <div class="review__item padding--small margin--none">
      <p class="color--grey h6 float--left full-width">Hanneke</p>
      <div class="kiyoh-shop-snippets float--left full-width padding--small" style="display: block">
        <div class="rating-box margin--none">
            <div class="rating" style="width:100%"></div>
        </div>
      </div>
      <p class="color--text-light-grey float--left">
        “zeer vriendelijke en bereidwillige medewerkers van Linnengordijnenshop.
        ik heb tot 2 x toe staaltjes opgevraagd en die werden me keurig toegestuurd. Chapeau !
        De gordijnen zijn keurig gemaakt.”
      </p>
    </div> -->

  </div>
</div>
