<div class="hide__mobile">
  <aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/linnengordijnenshop.nl/" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
        <li><a href="https://www.instagram.com/linnengordijnenshop.nl/" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>
        <li><a href="https://nl.pinterest.com/linnengordijnen/" class="entypo-pinterest" target="_blank"><span>Pinterest</span></a></li>
    </ul>
</aside>
</div>
