<!-- <div class="usp__arrow background--light-grey"> -->
  <div class="usp__box relative background--white">
    <div class="container">
      <div class="row padding--small">
        <div class="col-md-2 col-6 offset-md-2">
          <div class="padding--none block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/send.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Gratis verzending</p>
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <div class="padding--none block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/shipped.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Nederland + Belgie</p>
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <div class="padding--none block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/gift.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Gratis inmeetservice</p>
          </div>
        </div>
        <div class="col-md-2 col-6 ">
          <div class="padding--none block--center">
            <img src="<?php echo $block->getViewFileUrl('images/usp/quality.png'); ?>" class="img img-responsive display--inline usp__image card--center-mobile" />
            <p class="display--inline color--grey">Garantie op gordijnen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="arrow bounce triangle"></div> -->
<!-- </div> -->
