<div class="section group">

  <div class="float__right">
    <p class="product__text--small color--white">
      Linnen gordijnen neemt altijd binnen 24 uur<br />
      contact met u op om uw bestelling door te nemen
    </p>
    <p class="product__text--x-small color--white">
      (op werkdagen).  <a href="tel:076 532 93 26" class="color--white" style="font-size: 13px;">076 532 93 26</a>
    </p>
  </div>
  <div class="float__right">
    <img src="../pub/media/wysiwyg/phone-call.png" class="padding--20"/>
  </div>
</div>
