<?php
/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Magefan\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
    $_author = $block->getPost()->getAuthor();
    $authorimage = '/pub/media'.$_author['user_image'];
?>
<div class="post-holder-<?php echo $_post->getId() ?> col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card__item blog__card float--left background--white relative match-height card--center-mobile margin--small">
    <a href="<?php echo $_postUrl ?>">
      <img src="<?php echo $_post->getFeaturedImage() ?>" alt="<?php echo $_postName ?>"  class="card__image"/>
    </a>
    <div class="padding--x-small">
      <p class="float--left color--grey full-width h3 blog__title"><?php echo $_postName; ?></p>
      <p class="float--left color--text-light-grey full-width"><?php echo substr($block->getShorContent(),0,200); ?>...</p>
    </div>
    <a class="btn btn--green color--white padding--x-small full-width display--block" href="<?php echo $_postUrl ?>">Lees Meer</a>
    <div class="item post-author blog__author">
      <?php
      ?>
      <img class="blog__author-image" src="<?php echo $authorimage; ?>" />
        <p class="label display--inline"><?php echo __('Author:') ?></p>
        <p class="value display--inline">
            <a title="<?php echo $block->escapeHtml($_author->getTitle()) ?>" href="<?php echo $_author->getAuthorUrl() ?>">
                <?php echo $block->escapeHtml($_author->getTitle()) ?>
            </a>
        </p>
    </div>
  </div>
</div>
