@mixin responsive-vw($properties, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }
}

$color-map: ();

@each $key, $value in $colors {
  $color-map: map-merge($color-map, ($key: (
    base: $value,
    light: lighten($value, $color-shade-percentage),
    dark: darken($value, $color-shade-percentage)
  )));
}

@function color($key, $value: 'base') {
  @return map-get(map-get($color-map, $key), $value);
}
