.progress {
  &__header {
    background-color: color(blue);
    padding: 5px 10px;
    margin-top: 20px;
    & p {
      color: #FFF;
      font-family: "Avenir Book",Helvetica,Arial,sans-serif;
      font-size: 20px;
      letter-spacing: 1px
    }
  }
  &__bar {
    background: rgba(255,255,255, 0.1);
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    counter-reset: step;
    & li {
      list-style-type: none;
      width: 25%;
      float: left;
      position: relative;
      height: 30px;
      margin: 0;
      &:before {
        // content: counter(step);
        content: '';
      	counter-increment: step;
      	width: 20px;
      	line-height: 20px;
      	display: block;
      }
      &:after {
        content: '';
      	width: 100%;
      	height: 2px;
      	background: white;
      	position: absolute;
      	left: -50%;
      	top: 9px;
      	z-index: -1;
      }
      &:first-child:after {
        content: none;
      }
      &.active:before {
        background: #27AE60;
	      width: 100%;
        height: 98%;
      }
      &.active:after {
        background: #27AE60;
	      color: white;
      }
    }
  }
}

.individual {
  &--option {
    position: relative;
  }
}


.options {
  position: relative;
  &--step {
    position: relative;
    height: 100%;
    display: none;
    &:nth-child(2) {
      display: block;
    }
    // &:nth-of-type(1) {
    //   display: block;
    // }
    // &:not(:first-of-type) {
    //   display: none;
    // }

  }
  &__background {
    background-color: #FFF;
    padding: 10px !important;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 100;
    color: color(blue);
    padding: 5px 0 !important;
    float: left;
    &--large {
      color: color(blue);
      font-family: "Avenir Book",Helvetica,Arial,sans-serif;
      font-size: 20px;
      letter-spacing: 1px
    }
  }
  &__image {
    width: 100%;
    display: block;
    height: auto;
    &--container {
      position: relative;
      width: 80%;
      cursor: pointer;
    }
    &--selected {
      bottom: 0 !important;
      height: 100% !important;

    }
    &--overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: rgba(39,174,96,0.3);
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease;
    }
    &--check {
      font-size: 20px;
      color: #FFF;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__navigation {
    background: $color-orange;
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    & p {
      color: #FFF;
      font-size: 14px;
      font-family: 'open sans';
      font-weight: 300;
      display: inline-block;
      text-transform: uppercase;
      float: left;
    }
    &--arrow {
      color: #FFF;
      float: right;
      display: inline-block;
      font-size: 12px;
      margin-top: 13px;

    }
    &--button {
      background: none;
      border: none;
      padding: 0;
      line-height: inherit;
      width: 100%;
      &:hover {
        background: none;
        border: none;
        color: inherit
      }
      &:focus {
        background: none;
        border: none;
        color: inherit
      }
    }
  }
}

.products {
  &__collection {
    float: left;
    height: 100%;
    overflow: scroll;
  }
}

.options__image--container:hover .options__image--overlay {
  bottom: 0;
  height: 100%;
}

.config-product {
  &__image {
    &--large {
      background-size: cover;
      height: 100%;
      max-height: 600px;
      width: 100%;
    }
  }
}
